extends master.pug
block body

block header
    include partials/header.pug

block content
    div#pg-wrapper.main-content
        div.container-fluid.sezione-eventi
            include partials/sections/top-events
            - var idFiltersBar = "collapseFilters"
            - var filtered = true
            include partials/sections/events-list
            - idFiltersBar = "collapseFilters2"
            - filtered = false
            include partials/sections/past-events

            .row.row-no-gutters.mt-2.mb-2
                .col-sm-4
                .col-sm-4.text-center
                    hr.blue
                    .t-24.blue.roboto Interesting enough?
                    p.blue Donec maximus tempus felis, eu placerat erat suscipit ut.
                    a(href="#").mt-1.mb-2.btn.btn--blue.btn-small join us
                .col-sm-4


    include partials/footer.pug