section.section.section--events.vertical-label
    h2.widget_title.blue Events
    a.medium.text-uppercase.blue(href="#") View All
    .slick-wrapper
        #eventSlickCarousel.responsive-slick.card-list
            - var n = 0;
            while n < 8

                include cards/single-event
                - n++
    .cardsnav
        ul.list-inline.d-flex.justify-content-end
            li.card-prev
                span.icon.icon-chevron-sx
            li.card-next
                span.icon.icon-chevron-dx

