section.section.section--events
    h2.blue Incoming Events
    include filters-bar
    .row.row-no-gutters.card-list.pt-2
        - var n = 0;
            while n < 7
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                    include cards/single-event
                    - n++