section.section.section--news.vertical-label
    h2.widget_title External News
    .row.ifIsVisible
        .col-xs-12.col-md-6
            h2.blue.mb-3 From Bocconi.it
            .slick-wrapper
                .news-slick-dx.card-list
                    - var nn1 = 0;
                    while nn1 < 4
                        .external-news-wrap
                            include cards/external-news
                            include cards/external-news
                            include cards/external-news
                        - nn1++
            .cardsnav
                ul.list-inline.d-flex.justify-content-end
                    li.news-prev.news-prev-dx
                        span.icon.icon-chevron-sx
                    li.news-prev.news-next-dx
                        span.icon.icon-chevron-dx


        .col-xs-12.col-md-6
            .d-flex.align-items-center.justify-content-between.align-items-base.mb-2
                h2.blue From Social network
                ul.list-inline
                    li
                        a(href="#")
                            span.icon.icon-fb.iconblue
                    li
                        a(href="#")
                            span.icon.icon-in.iconblue
                    li
                        a(href="#")
                            span.icon.icon-youtube.iconblue

            .slick-wrapper
                .news-slick-sx.card-list
                    - var nn2 = 0;
                    while nn2 < 3
                        .external-news-wrap
                            - var kindSocial = 1;
                            include cards/external-news-social
                            - kindSocial = 2;
                            include cards/external-news-social
                            - kindSocial = 3;
                            include cards/external-news-social
                        - nn2++
            .cardsnav
                ul.list-inline.d-flex.justify-content-end
                    li.news-prev.news-prev-sx
                        span.icon.icon-chevron-sx
                    li.news-next.news-next-sx
                        span.icon.icon-chevron-dx

