section.section.section--map-community.bg--white
    .map
        .navigation
            .d-flex.align-items-center
                span.t-90.white.pr-1.nr-ch 70
                span.t-32.white
                    | Chapters
                    br
                    span.nm-ch Wordlwide
            a.text-uppercase.medium.white.viewallmap(href="#") View all
            a.text-uppercase.medium.white.backToWorld.backmap.hide(href="javascript:;")
                span.icon.icon-arrow-back.pr-1
                | Back
            a.text-uppercase.medium.white.backToContinent.backmap.hide(href="javascript:;")
                span.icon.icon-arrow-back.pr-1
                | Back
        .map-wrap
            .map-layer.map-layer--world
                .loadedsvg
                //.popover
            .map-layer.map-layer--continent.hidden
                .loadedsvg
                .popover
            .map-layer.map-layer--country.hidden
                .loadedsvg
                .modale
                .popover