section.section.section--news.vertical-label

    .slick-wrapper
        h2.widget_title News
        a.medium.text-uppercase.blue(href="#") View All
        #newsSlickCarousel.news-slick.card-list.ifIsVisible
            include cards/news-4
            - var n = 0;
            while n < 2
                include cards/news-8
                - n++
    .cardsnav
        ul.list-inline.d-flex.justify-content-end
            li.news-prev
                span.icon.icon-chevron-sx
            li.news-next
                span.icon.icon-chevron-dx

