//== Animations
//

@keyframes slidein-t-r {
  from {top: -200%; right: -200%}
  to {top: -25%; right: -50%}
}

@keyframes slidein-c-l {
  from {left: -200%;}
  to {left: 0}
}

.delayed--1 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.delayed--2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delayed--3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.delayed--4 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.duration--1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.duration--15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.duration--2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.ifIsVisible {
  opacity: 0;
  &.animated {
    opacity: 1;
  }
}

// Topics

.topics-wrapper {
  .el {
    .el-hover {
      opacity: 0;
    }
  }
}


.topicsList .el {
  //cursor: pointer;
}
.topicsList .el .st0 {
  opacity:1;
}


// ENERGY
@-webkit-keyframes ruota{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes ruota{
  0%{
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ruota{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.hover #Energy .icon-Animate-container,
#Energy:hover .icon-Animate-container{
  -webkit-animation-name: ruota;
  animation-name: ruota;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  animation-timing-function:ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
  transform-origin: center;
}

#Energy.icon-container,
#Energy .icon-Base-container {
  position: relative;
  display: inline-block;
  width: 136px;
}
#Energy .icon-Base-container {
  z-index: 5;
}
#Energy .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  left:calc(50% - 48px);
  top:6px;
  border-radius: 50%;
  width: 92.4px;
  height: 92.4px;
  z-index: 10;
}
#Energy .icon-Animate-container .st0{fill:#FFFFFF;stroke:#0046AD;stroke-width:4;stroke-miterlimit:10;}
#Energy .icon-Animate-container .st1{fill:none;}
#Energy .icon-Animate-container .st2{fill:#0046AD;}
#Energy .icon-Base-container .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#D2D8E9;}
#Energy .icon-Base-container .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#0046AD;}

// END ENERGY


/* DIGITAL */
@-webkit-keyframes ruota{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes ruota{
  0%{
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ruota{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.hover #Digital .icon-Animate-container,
#Digital:hover .icon-Animate-container{
  -webkit-animation-name: ruota;
  animation-name: ruota;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  animation-timing-function:ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
  transform-origin: center;
}

#Digital.icon-container,
#Digital .icon-Base-container {
  position: relative;
  display: inline-block;
  width: 136px;
  height: 136px;
}
#Digital .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  left:calc(50% - 37px);
  top:20px;
  border-radius: 50%;
  width: 70.8px;
  height: 71px;
}

#Digital .icon-Animate-container .st0{fill:#D1D8E9;stroke:#0046AD;stroke-width:4;stroke-miterlimit:10;}
#Digital .icon-Animate-container .st1{fill:#0046AD;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Digital .icon-Animate-container .st2{fill:none;stroke:#0046AD;stroke-width:4;stroke-miterlimit:10;}

#Digital .icon-Base-container .st0{fill:#FFFFFF;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Digital .icon-Base-container .st1{fill:#0046AD;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
/* END DIGITAL */

// Fashion

#fashion{
  width: 136px;
  margin: 0 auto 20px;

}

#Sparkling2 {
  visibility: hidden;
}

.hover {
  #fashion #Sparkling1 {
    visibility: visible;
    animation: sparkling 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }

  #fashion #Sparkling2 {
    visibility: visible;
    animation: sparkling 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    animation-delay: 0.15s;
  }
  #fashion #triangoli1{
    visibility: visible;
  }

  #fashion #triangoli2 {
    visibility: visible;
    animation: sparkling 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
}


#triangoli, #triangoli2{
  visibility: hidden;
}

@keyframes sparkling {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

// Diversity

#diversity {
  width: 136px;
  margin: 0 auto 20px;
}

#color2{
  visibility: hidden;
}
.hover {
  #diversity #color1{
    visibility: visible;
    animation: spark 15s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  #diversity #color2{
    visibility: visible;
    animation: spark 2s ease;
  }
  #diversity #color3{
    visibility: visible;
    animation: spark 1s ;
  }
}

@keyframes spark {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

/* HEALTHCARE */
#Healthcare .icon-Animate-container > div {
  position: absolute;
  top:0;
  left:0;
  width: 136px;
  height: 136px;
  z-index: 10;

}
#Healthcare #pallina_dx,
#Healthcare #palline-centro,
#Healthcare #pallina_sx { visibility:visible;}

#Healthcare .icon-Animate-container-1{
  visibility: hidden;
}
#Healthcare .icon-Animate-container-2{
  visibility: hidden;
}
#Healthcare .icon-Animate-container-3{
  visibility: hidden;
}

.hover #Healthcare .icon-Animate-container-1,
#Healthcare:hover .icon-Animate-container-1{
  visibility: visible;
  transform: translate(-5px,-5px);
  transition: transform .3s ease-in-out;
}

.hover #Healthcare .icon-Animate-container-2,
#Healthcare:hover .icon-Animate-container-2 {
  visibility: visible;
  transform: translate(5px,5px);
  transition: transform .3s ease-in-out;
}

.hover #Healthcare .icon-Animate-container-3,
#Healthcare:hover .icon-Animate-container-3 {
  visibility: visible;
  transform: translate(5px,5px);
  transition: transform .3s ease-in-out;
}

#Healthcare.icon-container,
#Healthcare .icon-Base-container {
  position: relative;
  display: inline-block;
  width: 136px;
  height: 136px;
}
#Healthcare .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  left:0;
  top:0;
  border-radius: 50%;
  width: 136px;
  height: 136px;

}
#Healthcare .icon-Animate-container-1 .st0{fill:#0046AD;}
#Healthcare .icon-Animate-container-2 .st0{fill:#0046AD;}
#Healthcare .icon-Animate-container-3 .st0{fill:#0046AD;}
#Healthcare .icon-Base-container .st0{fill:#D1D8E9;}
#Healthcare .icon-Base-container .st1{fill:#0046AD;}
/* END HEALTHCARE */

// account

#account{
  width: 136px;
  margin: 0 auto 20px;

}

#yen, #back2{
  visibility: hidden;
}

.hover {
  #account #yen{
    visibility:visible;
    animation:change 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  #account #back2{
    visibility: visible;
    animation: fadein 1s ease;
  }
}

@keyframes change{
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


//* REAL ESTATE */
.hover #RealEstate .icon-Animate-container,
#RealEstate:hover .icon-Animate-container{
  transform: scale(1);
  transition: all .7s ease-in-out;
}

#RealEstate #people_sx, #RealEstate #people_dx {
  visibility: visible;
}

#RealEstate.icon-container,
#RealEstate .icon-Base-container {
  position: relative;
  display: inline-block;
  width: 136px;
  height: 136px;
}
#RealEstate .icon-Base-container {
  z-index: 10;
}
#RealEstate .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  left:0;
  top:0;
  border-radius: 50%;
  transform: scale(0);
  width: 136px;
  height: 136px;
  z-index: 5;
  overflow: hidden;
}
#RealEstate .icon-Animate-container .st0{fill:#0046AD;}

#RealEstate .icon-Base-container .st0{fill:#FFFFFF;}
#RealEstate .icon-Base-container .st1{fill:#D1D8E9;stroke:#0046AD;stroke-width:3.5;stroke-miterlimit:10;}
#RealEstate .icon-Base-container .st2{fill:#D1D8E9;stroke:#0046AD;stroke-width:4.2;stroke-miterlimit:10;}
#RealEstate .icon-Base-container .st3{fill:none;stroke:#0046AD;stroke-width:4.2;stroke-miterlimit:10;}
#RealEstate .icon-Base-container .st4{fill:none;stroke:#0046AD;stroke-width:4.2;stroke-linejoin:round;stroke-miterlimit:10;}
#RealEstate .icon-Base-container .st5{fill:#0046AD;}
/* END REAL ESTATE */

// sport

#sport{
  width: 136px;
  margin: 0 auto 20px;

}

#firework1, #firework2,#firework3, #linea, #linea3 {
  visibility: hidden;
}

.hover {
  #sport #linea{
    visibility: visible;
    animation: line 0.1s;
  }

  #sport #linea3{
    visibility: visible;
    animation: line3 0.1s;
  }
  #sport #centro1{
    visibility: visible;
    animation: firework;
    animation-delay: 0.1s;
  }

  #sport #fire{
    visibility: visible;
    animation: firework 0.5s ease;
    animation-delay: 0.5s;
  }

  #sport #centro2{
    visibility: visible;
    animation: firework;
    animation-delay: 0.5s;
  }

  #sport #fire2{
    visibility: visible;
    animation: firework 1s ease;
    animation-delay: 0.5s;
  }

  #sport #centro3{
    visibility: visible;
    animation: firework;
    animation-delay: 1s;
  }

  #sport #fire3{
    visibility: visible;
    animation: firework 1s ease;
    animation-delay:2s;
  }
}

@keyframes line {
  from{
    transform:translate(5px,5px);
  }
  to{
    transform: translate(0px,0px);
  }
}

@keyframes line3 {
  from{
    transform:translate(0px,5px);
  }
  to{
    transform: translate(0px,0px);
  }
}



@keyframes firework {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* MARKETING */
#Marketing .icon-Animate-container > div {
  position: absolute;
  top:0;
  left:-4px;
  width: 136px;
  height: 136px;
}
#Marketing #contenuto2, #Marketing #contenuto3 {
  opacity: 1;
}
#Marketing .icon-Animate-container-1 {
  z-index: 0;
}
#Marketing .icon-Animate-container-2{
  opacity:0;
  transform: translate(-100px,0px);
  z-index: 2;
}
#Marketing .icon-Animate-container-3{
  opacity:0;
  transform: translate(-100px,0px);
  z-index: 5;

}

.hover #Marketing .icon-Animate-container-2,
#Marketing:hover .icon-Animate-container-2 {
  opacity:1;
  transform: translate(0px,0px);
  transition: all .5s ease-in-out;
  transition-delay: 0s;
}

.hover #Marketing .icon-Animate-container-3,
#Marketing:hover .icon-Animate-container-3 {
  opacity:1;
  transform: translate(0px,0px);
  transition: all .5s ease-in-out;
  transition-delay: 1s;
}


#Marketing.icon-container{
  position: relative;
  display: inline-block;
  width: 136px;
  height: 136px;
  overflow: hidden;
}
#Marketing .icon-Base-container {
  position: absolute;
  display: inline-block;
  width: 136px;
  height: 136px;
  z-index: 10;
  top:0;
  left:0;
}
#Marketing .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  left:4px;
  top:0;
  width: calc(100% - 8px);
  height: 136px;
  overflow: hidden;
  z-index: 8;

}
#Marketing .icon-Animate-container-1 .st0{fill:#FFFFFF;}
#Marketing .icon-Animate-container-1 .st1{fill:#0046AD;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Marketing .icon-Animate-container-1 .st2{fill:none;}

#Marketing .icon-Animate-container-2 .st0{fill:#FFFFFF;}
#Marketing .icon-Animate-container-2 .st1{fill:#0046AD;stroke:#0046AD;stroke-width:2;stroke-miterlimit:10;}
#Marketing .icon-Animate-container-2 .st2{fill:none;}
#Marketing .icon-Animate-container-2 .st3{fill:#0046AD;stroke:#0046AD;stroke-miterlimit:10;}

#Marketing .icon-Animate-container-3 .st0{display:none;}
#Marketing .icon-Animate-container-3 .st1{display:inline;fill:#FFFFFF;stroke:#0046AD;stroke-width:4;stroke-miterlimit:10;}
#Marketing .icon-Animate-container-3 .st2{fill:#FFFFFF;}
#Marketing .icon-Animate-container-3 .st3{fill:#0046AD;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Marketing .icon-Animate-container-3 .st4{fill:none;stroke:#0046AD;stroke-width:4.7;stroke-linecap:round;stroke-miterlimit:10;}

#Marketing .icon-Base-container .st0{fill:none;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Marketing .icon-Base-container .st1{fill:#0046AD;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Marketing .icon-Base-container .st2{fill:#D1D8E9;}
#Marketing .icon-Base-container .st3{fill:#D1D8E9;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Marketing .icon-Base-container .st4{fill:#0046AD;}
#Marketing .icon-Base-container .st5{fill:none;stroke:#0046AD;stroke-width:4.7;stroke-miterlimit:10;}
/* END MARKETING */

/* SUSTAINABILITY */
.hover #Sustainability .icon-Animate-container,
#Sustainability:hover .icon-Animate-container{
  transform: scale(1);
  transition: all .5s ease-in-out;
}
#Sustainability #foglia3 {
  opacity: 1;
}
#Sustainability.icon-container,
#Sustainability .icon-Base-container {
  position: relative;
  display: inline-block;
  width: 136px;
  height: 136px;
}
#Sustainability .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  left:0;
  top:0;
  border-radius: 50%;
  transform: scale(0);
  width: 136px;
  height: 136px;
  z-index: 10;
  overflow: hidden;
}
#Sustainability .icon-Animate-container .st0{fill:#D2D9EB;}
#Sustainability .icon-Animate-container .st1{fill:#0046AD;stroke:#0046AD;stroke-linejoin:round;stroke-miterlimit:10;}
#Sustainability .icon-Animate-container .st2{fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
#Sustainability .icon-Animate-container .st3{fill:#0046AD;}

#Sustainability .icon-Base-container .st0{fill:#0046AD;stroke:#0046AD;stroke-width:0.7;stroke-miterlimit:10;}
#Sustainability .icon-Base-container .st1{fill:#0046AD;}
#Sustainability .icon-Base-container .st2{fill:#D2D9EB;}
#Sustainability .icon-Base-container .st3{fill:#0046AD;stroke:#0046AD;stroke-linejoin:round;stroke-miterlimit:10;}
#Sustainability .icon-Base-container .st4{fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
/* END SUSTAINABILITY */


/* GOVERNANCE */
.hover #Governance .icon-Animate-container,
#Governance:hover .icon-Animate-container{
  transform: translate(24px,24px);
  transition: transform .5s ease-in-out;
  transform-origin: center;
}

#Governance.icon-container,
#Governance .icon-Base-container {
  position: relative;
  display: inline-block;
  height: 136px;
  width: 136px;
}
#Governance .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: right top;
  left:0;
  top:0;
  width: 136px;
  height: 136px;
}
#Governance .st0{clip-path:url(#SVGID_5_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st1{clip-path:url(#SVGID_7_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st2{clip-path:url(#SVGID_9_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st3{clip-path:url(#SVGID_11_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st4{clip-path:url(#SVGID_13_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st5{clip-path:url(#SVGID_15_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st6{clip-path:url(#SVGID_17_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st7{clip-path:url(#SVGID_19_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st8{clip-path:url(#SVGID_21_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st9{clip-path:url(#SVGID_23_);fill:#D1D8E9;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st10{clip-path:url(#SVGID_25_);fill:#D1D8E9;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st11{clip-path:url(#SVGID_27_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st12{clip-path:url(#SVGID_29_);fill:#D1D8E9;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st13{clip-path:url(#SVGID_31_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st14{fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st15{fill:#FFFFFF;}

#Governance .st16{clip-path:url(#SVGID_33_);fill:#D1D8E9;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st17{clip-path:url(#SVGID_35_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st18{clip-path:url(#SVGID_37_);fill:#FFFFFF;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st19{clip-path:url(#SVGID_39_);fill:#FFFFFF;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st20{clip-path:url(#SVGID_41_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st21{clip-path:url(#SVGID_43_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st22{clip-path:url(#SVGID_45_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st23{clip-path:url(#SVGID_47_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st24{clip-path:url(#SVGID_49_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st25{clip-path:url(#SVGID_51_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st26{clip-path:url(#SVGID_53_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st27{clip-path:url(#SVGID_55_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st28{clip-path:url(#SVGID_57_);fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#Governance .st29{clip-path:url(#SVGID_59_);fill:#D1D8E9;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
/* END GOVERNANCE */

/* LEGAL */
.hover #Legal .icon-Animate-container,
#Legal:hover .icon-Animate-container{
  width:100%;
  transition: width 1s ease-in-out;
}

#Legal.icon-container,
#Legal .icon-Base-container {
  position: relative;
  display: inline-block;
  width: 136px;
  height: 136px;
}
#Legal .icon-Animate-container {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  left:0;
  top:0;
  border-radius: 50%;
  width: 0;
  height: 136px;
  z-index: 10;
  overflow: hidden;
}
#Legal .icon-Animate-container .st0{fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;}
#Legal .icon-Base-container .st0{fill:#D1D8E9;}
#Legal .icon-Base-container .st1{fill:none;stroke:#0046AD;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
#Legal .icon-Base-container .st2{fill:none;stroke:#0046AD;stroke-width:4;stroke-miterlimit:10;}
#Legal .icon-Base-container .st3{fill:#D1D8E9;stroke:#0046AD;stroke-width:4;stroke-miterlimit:10;}
#Legal .icon-Base-container .st4{fill:none;stroke:#D1D8E9;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;}
/* END LEGAL */