//== Button
//

.btn {
  font-family: $font-family-opensans;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  color: $black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid $black;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

  @include hover {
    color: $black;
    text-decoration: none;
  }

  .inverted-color & {
    color: $white;
    border-color: $white;
    @include hover {
      color: $white;
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    @include box-shadow(none);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .5;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}




// Colors

.btn--white {
  background: $white;
  border-color: $white;
  color: $black !important;
  &:hover {
    color: $black !important;
    background: $white;
    opacity: .8;
  }
}

.btn--bordergray {
  background: transparent;
  border: 1px solid $gray;
  color: $gray;
  border-radius: 20px;
}

.btn--borderwhite {
  background: transparent;
  border: 1px solid $white;
  color: $white;
  border-radius: 20px;
  &:hover {
    color: $blue !important;
    background: $white;
    opacity: .8;
    span {
      &.icon {
        &::before {
          color: $blue !important;
        }
      }
    }
  }
}

.btn--wb {
  background: $white;
  border-color: $blue;
  color: $blue !important;
  &:hover {
    color: $blue !important;
    background: $white;
    opacity: .8;
  }
}

.btn--blue, .btn-primary {
  background: $blue;
  border-color: $blue;
  color: $white !important;
  box-shadow: 0 4px 8px 0 rgba($blue, 0.2);
  &:hover {
    color: $white !important;
    background: $blue-hover !important;
    opacity: 1;
  }
}

.btn--onlytext {
  background-color: transparent;
  border: 0;
}


#app.bootstrap4 {
  .btn {
    font-family: $font-family-opensans;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    color: $black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid $black;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    &.btn--onlytext {
      background-color: transparent;
      border: 0;
      color: $blue;
    }
    &.btn--wb {
      background: $white;
      border: 2px solid $blue;
      color: $blue !important;
      &:hover {
        color: $blue !important;
        background: $white;
        opacity: .8;
      }
    }
    &.btn--blue, &.btn-primary {
      background: $blue;
      border-color: $blue;
      color: $white !important;
      box-shadow: 0 4px 8px 0 rgba($blue, 0.2);
      &:hover {
        color: $white !important;
        background: $blue-hover !important;
        opacity: 1;
      }
    }
  }
}

.btn--transp {
  background: transparent;
  border: 1px solid $blue;
  color: $blue;
  &.btn--huge {
    border: 2px solid $blue;
  }
  &:hover {
    color: $white !important;
    background: $blue-hover !important;
    border-color: $blue-hover !important;
    opacity: 1;
    span {
      color: $white !important;
      &::before {
        color: $white !important;
      }
    }
  }
}

.btn--onlytext {
  background: transparent;
  border: 0;
  color: $blue;
}

.btn--icon-big {
  padding-left: 50px;
  position: relative;
  padding-right: 15px;
  span.icon {
    position: absolute;
    top: 3px;
    left: 13px;
    font-size: 28px;
    color: $blue;
  }
}



// Sizes

.btn--big {
  @include media-breakpoint-up(md) {
    @include button-size($btn-big-padding-y, $btn-big-padding-x, $btn-big-font-size, $btn-big-line-height, $btn-big-border-radius);
  }
}

.btn--big-xl {
  @include media-breakpoint-up(xl) {
    @include button-size($btn-big-padding-y, $btn-big-padding-x, $btn-big-font-size, $btn-big-line-height, $btn-big-border-radius);
  }
}

.btn--small {
  padding: 7px 10px;
  text-align: center;
}