//== Event detail
//

.top-entry-detail-event {
  &#hero-zone {
   h1 {
     white-space: initial;
   }
    #event-buttons {
      min-height: 41px;
      .btn {
        font-weight: 600;
        font-size: 14px;
        &.btn--transp {
          border-width: 2px;
        }
      }
    }
    .event-content-detail {
      .icon {
        font-size: 34px;
      }
      .event-dt {
        p {
          max-width: none;
          @extend %font-16px;
        }
        &.event-date {
          margin-right: 30px;
        }
        &.event-time {

        }
      }
    }
  }
}



#event-buttons {
  margin-top: 30px;
  .row {
    display: inline-block;
    margin-right: 0;
    & + .row {
      @media (max-width:$screenSmartphone-max) {
        margin-top: 10px;
      }
    }
    button {
      font-weight: 600;
    }
  }
}

.e-detail-spalla {
  hr {
    & + hr {
      display: none;
    }
  }
  .icon {
    width: 50px;
    flex-shrink: 0;
    text-align: center;
    &.t-34 {
      font-size: 34px;
    }
    &.t-30 {
      font-size: 30px;
    }
  }
}

.circle-event-social {
  margin-bottom: 40px;
  .jssocials-share {
    a {
      background-color: $blue;
      color: $white;
      border-radius: 50%;
      padding: 10px;
    }
  }
}

.program-event-wrapper {
  display: flex;
  flex-direction: row-reverse;
  @media (max-width:$screenSmartphone-max) {
    display: block;
  }
  .content_details.content_details_editorial {
    margin-top: 0;
    padding-top: 0;
    width: 100% !important;
  }
}

.detail-event-wrapper {
  .content_details_editorial {
    @media screen and (min-width: 1200px) {
      margin-left: 0;
      padding-left: 0;
    }
    .ck-tmp-wrapper {
      & > p {
        @extend %font-18px;
      }
    }
    .content-description {
      p {
        @extend %font-18px;
        &.t-24 {
          @extend %font-24px;
        }
      }
    }
    .program-wrapper {
      position: relative;
      &::before {
        position: absolute;
        color: $blue;
        transform: rotate(-90deg);
        font-family: $font-family-roboto;
        @extend %font-32px-small;
        top: 210px;
        bottom: 100%;
        left: -265px;
        z-index: 15;
        width: 405px;
        height: auto;
        text-align: right;
        @media screen and (max-width: 1600px) {
          transform: none;
          position: static;
          width: auto;
          height: auto;
          text-align: left;
          margin-bottom: 5px;
        }
      }
      .row {
        display: flex;
        @media screen and (min-width: 768px) {
          //display: flex;
        }
        &:first-child {
          @media screen and (max-width: 1600px) {
            margin-top: 30px;
          }
        }
        & > div {
          &:first-child {
            max-width: 95px;
            @media (max-width:$screenSmartphone-max) {
              min-width: 75px;
            }
            & + div {
              width: 85%;
              p {
                &:first-child {
                  margin-top: 2px;
                  b {
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sponsor-wrapper {
      padding-left: 95px;
      margin-top: 60px;
      @media (max-width:$screenSmartphone-max) {
        padding-left: 0;
      }
      h4 {
        @extend %font-18px;
        color: $gray;
        font-weight: 600;
      }
      .row {
        align-items: center;
        flex-wrap: wrap;
        @media (max-width:$screenSmartphone-max) {
          //flex-wrap: wrap;
        }
        .ck-tmp-image {
          width: 25%;
          flex-shrink: 0;
          @media (max-width:$screenSmartphone-max) {
            width: 45.5%;
            //flex-shrink: 0;
          }
          img {
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -ms-filter: grayscale(1);
            -o-filter: grayscale(1);
            filter: grayscale(1);
            opacity: .7;
            &:hover {
              transition: all .3s ease-in-out;
              filter: grayscale(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .section-event-detail-download, .section-event-detail-documents, .section-event-detail-mediagallery {
    min-height: 200px;
    &::before {
      position: absolute;
      color: $blue;
      transform: rotate(-90deg);
      font-family: $font-family-roboto;
      @extend %font-32px-small;
      top: 210px;
      bottom: 100%;
      left: -265px;
      z-index: 15;
      width: 405px;
      height: auto;
      text-align: right;
      @media screen and (max-width: 1600px) {
        transform: none;
        position: static;
        width: auto;
        height: auto;
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
  .section-event-detail-download {
    &.wrapwidg:not(.container):not([class*='box-']):not([class*='col-']) {
      margin-top: 40px;
      @media (max-width:$screenTabletLandscape) {
        margin: 40px 30px 0;
      }
      @media (max-width:$screenTabletPortrait) {
        margin: 0 30px;
      }
      @media (max-width:$screenSmartphone-max) {
        margin: 0 15px;
      }
    }
    .event-download-wrapper {
      @media screen and (max-width: 1600px) {
        margin-top: 30px;
      }
      @media (max-width:$screenSmartphone-max) {
        flex-wrap: wrap;
      }
    }
    .el {
      width: 33.3%;
      @media (max-width:$screenSmartphone-max) {
        width: 45.5%;
        flex-shrink: 0;
        margin: 20px 0;
      }
      .gray-circle {
        width: 96px;
        height: 96px;
        background-color: $light-blue;
        margin: 0 auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        line-height: 96px;
        position: relative;
        padding: 18px 0;
        span.icon {
          font-size: 56px;
          font-weight: 400;
        }
        i {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $blue;
          border-radius: 50%;
          padding: 5px;
          color: $white;
          font-size: 14px;
        }
      }
      span {
        color: $blue;
        font-weight: 600;
        @extend %font-14px;
        margin-top: 25px;
        text-transform: uppercase;
      }
    }
  }
  .section-event-detail-documents {
    min-height: 300px;
    @media screen and (max-width: 1599px) {
      min-height: 0;
      margin-bottom: 40px;
    }
    &.wrapwidg[class*=section-] {
      margin: 40px 0;
      @media (max-width:$screenTabletLandscape) {
        margin: 40px 30px;
      }
      @media (max-width:$screenTabletPortrait) {
        margin: 40px 30px;
      }
      @media (max-width:$screenSmartphone-max) {
        margin: 40px 15px;
      }
    }

  }
  .section-event-detail-mediagallery {
    &::before {
      top: 270px;
    }
  }
}

.documentary_repository_container {
  @media screen and (max-width: 1600px) {
    margin-top: 30px;
  }
  display: flex;
  flex-wrap: wrap;
  @media (max-width:$screenSmartphone-max) {
    flex-wrap: wrap;
  }
  .el {
    width: 24.5%;
    @media (max-width:$screenSmartphone-max) {
      width: 45.5%;
      flex-shrink: 0;
      margin: 20px 0;
    }
    i.fa {
      font-weight: 100;
      color: $gray;
      margin-bottom: 15px;
      font-family: 'icomoon' !important;
      font-size: 50px;
      display: block;
      &.fa-file-word {
        &::before {
          content: "\ea60";
        }
      }
      &.fa-file-excel {
        &::before {
          content: "\ea61";
        }
      }
      &.fa-file-powerpoint {
        &::before {
          content: "\ea5f";
        }
      }
      &.fa-file-pdf {
        &::before {
          content: "\ea5d";
        }
      }

    }
    a {
      color: $gray;
      font-weight: 600;
      @extend %font-14px;
    }
    span {
      color: $gray;
      font-weight: 600;
      @extend %font-11px;
    }
  }
}

#mainwrap[data-tt-language="default_lang_en_US"] {
  .detail-event-wrapper {
    .content_details_editorial {
      .ck-tmp-wrapper {
        .program-wrapper {
          &::before {
            content: "Program";
          }
        }
      }
    }
    .section-event-detail-download {
      &::before {
        content: "Download";
      }
    }
    .section-event-detail-documents {
      &::before {
        content: "Document Repository";
      }
    }
    .section-event-detail-mediagallery {
      &::before {
        content: "Media Gallery";
      }
    }
  }
}

#mainwrap[data-tt-language="default_lang_it_IT"] {
  .detail-event-wrapper {
    .content_details_editorial {
      .program-wrapper {
        &::before {
          content: "Programma";
        }
      }
    }
    .section-event-detail-download {
      &::before {
        content: "Download";
      }
    }
    .section-event-detail-documents {
      &::before {
        content: "Document Repository";
      }
    }
    .section-event-detail-mediagallery {
      &::before {
        content: "Media Gallery";
      }
    }
  }
}

.section-event-detail-mediagallery {
  &.wrapwidg:not(.container):not([class*='box-']):not([class*='col-']) {
    @media (max-width:$screenTabletLandscape) {
      padding: 0 15px;
    }
    @media (max-width:$screenTabletPortrait) {
      padding: 0 30px;
      .parent.carousel_file {
        padding: 0;
      }
    }
    @media (max-width:$screenSmartphone-max) {
      padding: 0 15px;
    }
  }
  &.vertical-label {
    &.wrapwidg:not(.container):not([class*='box-']):not([class*='col-']) {
      @media (max-width:$screenTabletLandscape) {
        padding: 0;
      }
    }
  }
  .media_gallery_container {
    .filters-bar {
      padding-bottom: 5px;
      @media (max-width:$screenTabletPortrait) {
        margin: -10px -20px 0;
      }
      .sidebar li a.free-search-icon {
        @media (max-width:$screenSmartphone-max) {
          font-size: 24px !important;
        }
      }
    }
  }
}

html .wrapwidg.plugin_contentDetailWidget:not([class*='col-']).spalla-dettaglio-evento {
  @media (max-width:$screenTabletPortrait) {
    margin: 80px 30px 40px;
  }
}

.media_gallery_container {
  .fotorama__thumb-border {
    border-color: $blue;
  }
  /*
  .fotorama__arr.fotorama__arr--next, .fotorama__arr.fotorama__arr--prev {
    //position: relative;
    background: transparent;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      color: $blue;
      font-family: 'icomoon';
    }
  }
  .fotorama__arr.fotorama__arr--next {
    &::before {
      content: "\ea26";
    }
  }
  .fotorama__arr.fotorama__arr--prev {
    &::before {
      content: "\ea27";
    }
  }
  */
}
