//== FAQ
//

[data-tt-language="default_lang_en_US"] {
  #faq {
    .faq-ita {
      display: none;
    }
  }
}

[data-tt-language="default_lang_it_IT"] {
  #faq {
    .faq-eng {
      display: none;
    }
  }
}

#faq {
  .group-faq {
    & + h3 {
      margin-top: 40px;
      & + h3 {
        margin-top: 40px;
      }
    }
  }
  h3 {
    color: $blue;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: $font-family-roboto;
  }
  .panel-default {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: $light-blue;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    & >.panel-heading+.panel-collapse>.panel-body {
      word-break: break-word;
      p {
        font-size: prem(18px);
      }
    }
  }
  .panel-default > .panel-heading {
    padding: 0;
  }
  .panel-title {
    a {
      display: block;
      padding: 15px 0;
      font-weight: 600;

      font-size: prem(20px);
      position: relative;
      color: $gray;
      padding-right: 50px;
      &::before {
        font-family: 'icomoon' !important;
        content: "\e801";
        color: $gray;

        position: absolute;
        right: 10px;
        top: 20px;
      }
      &.collapsed {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
}