/*======== FLEXBOX ========*/
.row-flex {
  display: flex;
  -webkit-flex-wrap: wrap;
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
  //flex-wrap: wrap;  // commentato per ie11

  @for $i from 1 through 12 {
    [class*="col-xs-#{$i}"] {
      flex: $i 0 (100% / 12 * $i);
    }

    [class*="col-xs-#{$i}"]:last-child {
      flex: 0 0 (100% / 12 * $i);
    }
  }

  @media (min-width: 768px) {
    @for $i from 1 through 12 {
      [class*="col-sm-#{$i}"] {
        flex: $i 0 (100% / 12 * $i);
      }

      [class*="col-sm-#{$i}"]:last-child {
        flex: 0 0 (100% / 12 * $i);
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 1 through 12 {
      [class*="col-md-#{$i}"] {
        flex: $i 0 (100% / 12 * $i);
      }

      [class*="col-md-#{$i}"]:last-child {
        flex: 0 0 (100% / 12 * $i);
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 1 through 12 {
      [class*="col-lg-#{$i}"] {
        flex: $i 0 (100% / 12 * $i);
      }

      [class*="col-lg-#{$i}"]:last-child {
        flex: 0 0 (100% / 12 * $i);
      }
    }
  }
}



.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}
.align-items-base {
  align-items: baseline;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}

.flex-lg-column {
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flex-md-column {
  @media (max-width: $screenTabletPortrait) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flex-sm-column {
  @media (max-width: $screenSmartphone-max) {
    flex-direction: column;
    align-items: flex-start;
  }
}