//== Header
//

footer.main-footer {
  padding: 40px 0;
  .container {

  }
  .logo {
    width: 180px;
    @media screen and (max-width: 1200px) {
      width: 143px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
  h3 {
    @extend %font-14px;
    color: $blue;
    padding-bottom: 13px;
    border-bottom: 1px solid $light-gray;
    margin-top: 0;
  }
  .content_details_editorial .content-description {
    ul {
      li {
        @extend %font-12px;
        padding-bottom: .5rem;
        a {
          font-weight: 600;
          @extend %font-12px;
        }
        &.spacer {
          margin-right: 10px;
          @include media-breakpoint-down(sm) {
            margin-top: 15px;
          }
        }
        &.spaceDivider {
          margin-right: 5px;
          padding-right: 10px;
          position: relative;
          a.small {
            @extend %font-10px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 5px;
            right: 0;
            height: 10px;
            width: 1px;
            background-color: $gray;
          }
          &:last-child {
            margin: 0;
            padding: 0;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  .text-center {
    @include media-breakpoint-down(sm) {
      text-align: left !important;
    }
  }
  .plugin_navigation.transparent-widget {
    margin: 0;
    padding: 0;
    & > .widget_padding {
      border-top: 1px solid #d9d9d9;
      padding: 20px 20px 0;
      .fz-13 {
        font-size: .95rem !important;
      }
    }
  }
}

