//== Header
//

.isMobile {
  header.main-header {
    @media (max-width:$screenSmartphone-max) {
      background-color:$white-alpha-90;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
    }
  }
}

.is-scrolled-xs {
  header.main-header {
    top: 0 !important;
  }
}

.is-scrolled {
  header.main-header {
    background-color:$white-alpha-90;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation-name: slideDownHeader;
    -webkit-animation-duration: 0.5s;
    animation-name: slideDownHeader;
    animation-duration: 0.5s;
    z-index: 999;
    @media screen and (max-width: 90em) {
     width: 125vw;
    }
    @media screen and (max-width: 70em) {
      width: 100vw;
    }
  }
}

header.main-header {
  position: absolute;
  width: 100%;
  height: 80px;
  color: $blue;
  padding: 15px 20px 0;
  z-index: 998;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  @media screen and (max-width: 90em) {
    -ms-transform: scale(0.8); /* IE 9 */
    -ms-transform-origin: 0 0;
    -moz-transform: scale(0.8); /* Firefox */
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.8); /* Opera */
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.8); /* Safari And Chrome */
    -webkit-transform-origin: 0 0;
    transform: scale(0.8); /* Standard Property */
    transform-origin: 0 0;  /* Standard Property */
    width: 125vw;
  }
  @media screen and (max-width: 70em) {
    -ms-transform: scale(1); /* IE 9 */
    -ms-transform-origin: 0 0;
    -moz-transform: scale(1); /* Firefox */
    -moz-transform-origin: 0 0;
    -o-transform: scale(1); /* Opera */
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1); /* Safari And Chrome */
    -webkit-transform-origin: 0 0;
    transform: scale(1); /* Standard Property */
    transform-origin: 0 0;  /* Standard Property */
    width: 100vw;
  }
  @media (max-width:$screenSmartphone-max) {
    height: auto;
  }
    .container {
    position: relative;
  }
  #userArea {
    z-index: 9;
  }
  #navbarSearchInput {
    @extend %font-16px;
    &::placeholder {
      @extend %font-16px;
    }
  }
  .wrapwidg#connetionHub {
    width: 130px;
    height: 37px;
    margin-right: 20px !important;
    .dropdown {
      height: 37px;
      .connection-hub-link {
        height: 37px;
        position: relative;
      }
    }
    @media screen and (max-width: 1500px) {
      margin-right: 20px !important;
    }
    @media screen and (max-width: 1000px) {
      margin-right: 10px !important;
      min-width: 200px;
    }
    @media (max-width:$screenSmartphone-max) {
      display: none;
    }
    & + .wrapwidg {

    }
  }

.dropdown-menu li, .notification_manager .notification-item {
    width: 100%;
  }
  .navbar-header {
    button {
      background: transparent;
      box-shadow: 0 0 0;
      border: 0;
      color: $blue;
      margin-top: 5px;
      &.mobile-collapse {
        @media screen and (max-width: 75em) {
          display: block !important;
        }
      }
      &:active, &:focus {
        outline: 0;
      }
      &:not(.collapsed) {
        span.icon {
          &::before {
            content: "\ea29";
          }
        }
      }
    }
  }
  .desktop-nav.navigation-list {
    .menu.menu-standard {
      left: -75px;
      min-width: 270px;
      padding: 15px 20px 0;
      & > div {
        & > div {
          margin-bottom: 15px;
          padding-bottom: 20px;
          border-bottom: 2px solid rgba($white, .7);
          &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
          }
        }
      }
      h5 {
        font-size: prem(11px);
        margin-bottom: 0;
        font-weight: 600;
      }
      .d-flex {
        align-items: center;
        text-align: center;
        & > div {
          &:first-child {
            z-index: 9;
            width: 35px;
            font-weight: 700;
            margin-right: 15px;
            & + div {
              min-width: 130px;
              text-align: left;
              margin-left: -20px;
            }
          }
        }
        div {
          .icon {
            display: block;
            font-size: 22px;
            margin: 16px 0 0 0;
          }
        }
      }
      .btn--white {
        color: $blue !important;
        font-size: prem(9px);
        padding: 6px 6px 5px;
      }
      img.img-circle.user_avatar {
        width: 42px;
        height: 42px;
        z-index: 2;
        display: inline-block;
        border: 2px solid $blue;
        position: relative;
        &:first-child {
          z-index: 4;
        }
        & + .initials {
          margin-left: -10px;
          z-index: 3;
        }
        & + img {
          margin-left: -10px;
          z-index: 3;
        }
      }
      .initials {
        display: inline-block;
        background-color: $white;
        color: $blue !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @extend %font-14px;
        line-height: 35px;
        border: 2px solid $blue;
        position: relative;
        text-align: center;
        & + img {
          margin-left: -10px;
        }
        &:first-child {
          z-index: 3;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -28px;
            background-color: $blue;
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }
        & + .initials {
          left: -10px;
          z-index: 2;
          & + .initials {
            left: -20px;
            z-index: 1;
          }
          & + img {
            left: -10px;
            z-index: 1;
          }
        }
      }
    }
  }
  .navbar-collapse {
    position: absolute;
    background-color: $white;
    top: 55px;
    left: 0;
    width: 100vw;
    min-height: calc(100vh - 50px);
    padding: 40px 0;
    &.mobile-collapse {
      .navbar-nav {
        text-align: center !important;
        width: 100% !important;
        .connection-hub-link:before, .connection-hub-link:hover:before {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        .open {
          .dropdown-menu {
            @media screen and (max-width: 75em) {
              position: static;
              float: none;
              width: auto;
              background-color: transparent;
              border: 0;
              -webkit-box-shadow: none;
              margin-top: 0 !important;
              ul {
                li {
                  text-align: center;
                }
              }
            }
          }
        }
        li {
          @media screen and (max-width: 75em) {
            width: 100%;
          }
        }
      }
    }
    &:not(.in) {
      display: none !important;
    }
    ul {
      li {
        margin: 25px 0;
        a {
          display: inline-block;
          &.dropdown-toggle {
            background-color: $white;
            display: inline !important;
            padding-left: 5px;
            margin-right: -20px;
          }
        }
      }
    }
  }
  .logo {
    width: 275px;
    margin-right: 20px;
    height: 32px;
    @media screen and (max-width: 75em) {
      width: 144px;
      margin-right: 20px;
      height: 19px;
    }
    @media screen and (max-width: 330px) {
      margin-right: 0;
      width: 95px !important;
    }
  }
  .list-inline {
    display: flex;
    align-items: center;
    li {
      margin-right: 15px;
      @media (max-width:$screenSmartphone-max) {
        padding-right: 3px;
        padding-left: 2px;
      }
      .notification {
        height: auto;
        line-height: 1;
      }
      &.open {
        .menu-standard li a {
          padding: 5px 15px;
        }
      }
      .dropdown.user_menu.public {
        a span.icon {
          font-size: 21px;
        }
      }
      .dropdown-menu {
        a {
          font-size: prem(12px);
        }
      }
      a {
        //line-height: 40px;
        font-family: $font-family-opensans;
        font-size: prem(12px);
        display: inline-block;
        @media screen and (min-width: 768px) {
          font-size: prem(13px);
        }
        @media screen and (min-width: 1520px) {
          font-size: prem(14px);
        }
        &.connection-hub-link {

          @media screen and (min-width: 1400px) {

          }
          @media screen and (min-width: 1200px) {

          }
        }
        &:not(.btn--small) {
          border: 0;
          padding: 0;
        }
        &.user.tt-component-avatarInitials {
          margin-top: -5px;
          @media (max-width:$screenTabletLandscape) {
            margin-top: -4px;
            margin-right: -8px;
          }
          @media (max-width:$screenTabletPortrait) {
            margin-top: -6px;
            margin-right: -8px;
          }
          @media (max-width:$screenSmartphone-max) {
            margin-top: 11px;
            margin-right: -8px;
          }
        }
        &.user.tt-component-avatarImg {
          margin-top: -2px;
          margin-right: -8px;
          @media (max-width:$screenTabletLandscape) {
            margin-top: -6px;
          }
          @media (max-width:$screenTabletPortrait) {
            margin-top: -9px;
          }
          @media (max-width:$screenSmartphone-max) {
            margin-top: 12px;
            margin-right: -8px;
          }
        }
        &:not(.btn) {
          margin-top: 15px;
          @media screen and (max-width: 75em) {
            margin-top: 10px;
          }
        }
        span {
          font-size: 20px;
          @media screen and (max-width: 330px) {
            font-size: 18px;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .user {
        background-size: cover;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        overflow: hidden;
        position: relative;
        top: 10px;
      }
      .ntw {
        position: relative;
        top: -5px;
      }
    }
  }
  .mobile-nav {
    display: none;
    @media screen and (max-width: 75em) {
      display: block;
    }
  }
  .desktop-nav {
    &:not(.c-nav) {
      display: none;
      @media screen and (min-width: 75em) {
        display: block;
      }
    }
  }
}

@keyframes slideDownHeader {
  from {top: -170px; left:0;}
  to {top: 0;left:0;}
}

header.main-header .navbar-collapse ul li a.btn--small {
  padding: 7px 10px;
}

.wrapwidg.plugin_navigation {
  z-index: 9;
}

div.timestamp span.t-16 {
  font-size: prem(16px);
}