//== Main
//

html {
  &:root {
    font-size: 14px;
  }
}

a:focus {
  text-decoration: none;
}

#pg-wrapper {
  overflow-x: hidden;
}

.main-content {
  // font-family: $font-family-sans-serif;
  font-size: prem(15px);
  padding-top: $spacer;
  @include media-breakpoint-up(lg) {
    padding-top: ($spacer * 1.5);
  }
}

.main-container {
  padding-top: $spacer * 1.5;
}

.nomargin {
  margin: 0 !important;
}

.nopadding {
  padding: 0 !important;
  .widget_padding {
    padding: 0;
  }
}

@media (max-width:$screenTabletPortrait) {
  .transform-ty-50 {
    transform: translateY(50%);
  }
}

@media (min-width:960px){
  .transform-ty-50{
    transform: translateY(50%);
  }


  .transform-ty--50{
    transform: translateY(-50%);
    margin-bottom: -35% !important;
  }

  .transform-ty--60{
    transform: translateY(-60%);
    margin-bottom: -35% !important;
  }

  .transform-ty--70{
    transform: translateY(-70%);
    margin-bottom: -35% !important;
  }

  .transform-ty--80{
    transform: translateY(-80%);
    margin-bottom: -35% !important;
  }

  .transform-ty--90{
    transform: translateY(-90%);
    margin-bottom: -35% !important;
  }

  .transform-ty--100{
    //transform: translateY(-100%);
    //margin-bottom: -35% !important;
  }

  .transform-ty--100 {
    //transform: translateY(-100%);
    //margin-bottom: -35% !important;
  }

}

@media screen and (max-width: 1700px) {
  .transform-ty--100 {
    transform: translateY(-75%);
    margin-bottom: -35% !important;
  }
}

@media screen and (max-width: 1500px) {
  .transform-ty--100 {
    transform: translateY(-50%);
    margin-bottom: -25% !important;
  }
}

@media screen and (max-width: 1199px) {
  .transform-ty--100 {
    transform: translateY(-5%);
    margin-bottom: 0 !important;
  }
}

.container-fluid {
  width: 90vw !important;
  max-width: 1540px;
  @media screen and (max-width: 1200px) {
    //width: 100vw !important;
  }
  &.container-fluid-small {
    max-width: 1490px;
    padding: 30px !important;
    @media (max-width:$screenSmartphone-max) {
      padding: 30px 15px !important;
    }
  }
  &.container-fluid-after {
    max-width: 1700px;
    padding: 0 5%;
    @media (max-width:$screenSmartphone-max) {
      padding: 0 2vw;
    }
    & > .widget_padding {
      @include clearFix();
    }
  }
}

.isMobile {
  .container-fluid {
    &.container-fluid-after {
      @media (max-width:$screenSmartphone-max) {
        padding: 0 0;
      }
    }
  }
}

.zindex-9 {
  z-index: 9;
}
.zindex-99 {
  z-index: 99;
}


.t--10 {
  top: -10px;
}

//== Spacer utilities
//

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}
.mt-0, .my-0 {
  margin-top: 0 !important;
}
.ml-0, .mx-0 {
  margin-left: 0 !important;
}
.mr-0, .mx-0 {
  margin-right: 0 !important;
}
.pb-0, .py-0 {
  padding-bottom: 0 !important;
}
.pt-0, .py-0 {
  padding-top: 0 !important;
}
.pl-0, .px-0 {
  padding-left: 0 !important;
}
.pr-0, .px-0 {
  padding-right: 0 !important;
}

.mb-1, .my-1 {
  margin-bottom: $spacer !important;
}
.mt-1, .my-1 {
  margin-top: $spacer !important;
}
.ml-1, .mx-1 {
  margin-left: $spacer !important;
}
.mr-1, .mx-1 {
  margin-right: $spacer !important;
}
.pb-1, .py-1 {
  padding-bottom: $spacer !important;
}
.pt-1, .py-1 {
  padding-top: $spacer !important;
}
.pl-1, .px-1 {
  padding-left: $spacer !important;
}
.pr-1, .px-1 {
  padding-right: $spacer !important;
}

.mb-2, .my-2 {
  margin-bottom: ($spacer * 2) !important;
}
.mt-2, .my-2 {
  margin-top: ($spacer * 2) !important;
}
.ml-2, .mx-2 {
  margin-left: ($spacer * 2) !important;
}
.mr-2, .mx-2 {
  margin-right: ($spacer * 2) !important;
}
.pb-2, .py-2 {
  padding-bottom: ($spacer * 2) !important;
}
.pt-2, .py-2 {
  padding-top: ($spacer * 2) !important;
}
.pl-2, .px-2 {
  padding-left: ($spacer * 2) !important;
}
.pr-2, .px-2 {
  padding-right: ($spacer * 2) !important;
}

.mb-3, .my-3 {
  margin-bottom: ($spacer * 3) !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mlr--2 {
  margin-left: -15px;
  margin-right: -15px;
}

.pb-05 {
  padding-bottom: $spacer / 2 !important;
}

//== Position
//
.relative, .sticky-parent {
  position: relative;
}

.abs-tl, .abs-tr, .abs-bl, .abs-br, .abs-ml, .abs-mr, .abs-mm {
  position: absolute !important;
}
.abs-tl, .abs-tr {
  top: 0;
}
.abs-bl, .abs-br {
  bottom: 0;
}
.abs-ml, .abs-mr {
  top: 50%;
  transform: translateY(-50%);
}
.abs-tl, .abs-bl, .abs-ml {
  left: 0;
}
.abs-tr, .abs-br, .abs-mr {
  right: 0;
}
.abs-mm {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.md-mb-2 {
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}
.sm-mt-2 {
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}

.spacer-r-1 {
  margin-right: 8px;
}
.spacer-l-1 {
  margin-left: 8px;
}

.z-high {
  z-index: 9;
  .column_generico.homeColumn0 {
    &:first-child {
      z-index: 9;
    }
  }
}
.z-xlhigh {
  z-index: 99;
}
.p-rel {
  position: relative;
}

.h100 {
  height: 100%;
}

.hide {
  display: none;
}

.show-tablet {
  display: none !important;
  @include media-breakpoint-down(md) {
    display: block !important;
  }
}

.show-mobile {
  display: none !important;
  @include media-breakpoint-down(sm) {
    display: block !important;
  }
}

.hide-mobile {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.hide-tablet {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.show-desktop {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.noover {
  overflow: hidden;
}

.ifIsVisible {
  opacity: .1;
}

.z-auto {
 //z-index: auto;
}

.xs-fullpage {
  .content_details_editorial {
    @media (max-width:$screenSmartphone-max) {
      margin: 0;
      padding: 0;
    }
  }
}

.modal.in .modal-dialog {
  @media (max-width:$screenSmartphone-max) {
    width: 90vw;
  }
}

body {
  &.error {
    box-shadow: inset 0px 0px 0px 2px red !important;
    border: 0 !important;
    overflow: hidden;
    border-radius: 0 !important;
    #home-wrapcontent {
      background: transparent;
    }
  }
}

.container-fluid {
  &.lg-p {
    @media (max-width:$screenTabletLandscape) {
      padding: 0 30px !important;
    }
    @media (max-width:$screenSmartphone-max) {
      padding: 0 20px !important;
      & > .widget_title {
        padding: 0 20px;
      }
    }
  }
  &.md-p {
    @media (max-width:$screenTabletPortrait) {
      padding: 0 30px !important;
    }
    @media (max-width:$screenSmartphone-max) {
      padding: 0 20px !important;
      & > .widget_title {
        padding: 0 20px;
      }
    }
  }
}

.section.bacTopic.vertical-label h2.widget_title, .bacTopic .section.vertical-label h2.widget_title, .bacChapter .section.vertical-label h2.widget_title {
  left: -210px;
}

/*  FIX SAFARI  */

.row-flex [class*="col-sm-6"] {
  flex: 6 0 49.9%;
}

.min-h-17 {
  min-height: 17px;
}