//== List Grid
//

.lgrid-wrapper {
  overflow: hidden;
  // border-top: 2px solid $hr-border-color;
  // .inverted-color & {
  //   border-color: $hr-border-color-inverse;
  // }
}

.lgrid {
  @include list-unstyled;
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    .lgrid-item {
      position: relative;
      // padding-top: ($grid-gutter-width / 2);
      // padding-bottom: ($grid-gutter-width / 2);
      padding-left: ($grid-gutter-width / 2);
      padding-right: ($grid-gutter-width / 2);
      width: (100% / 4);
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: ($grid-gutter-width / 2);
        bottom: -($grid-gutter-width / 2);
        left: 0;
        border-right: 1px solid $hr-border-color;
        .inverted-color & {
          border-color: $hr-border-color-inverse;
        }
      }
      &--big {
        width: 100%;
      }
    }
  }

  &--hsep {
    margin-bottom: -1px;
    .lgrid-item {
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: ($grid-gutter-width / 2);
        right: ($grid-gutter-width / 2);
        bottom: 0;
        border-bottom: 1px solid $hr-border-color;
        .inverted-color & {
          border-color: $hr-border-color-inverse;
        }
      }
    }
  }
}
