//== Mentor Mentee
//

#menteeForm, #mentorForm {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  label {
    font-weight: 400;
  }
  textarea {
    min-height: 70px;
  }
  input, textarea {
    @extend %font-15px;
  }
}

.mentor-wrapper, .mentee-wrapper {
  @media (max-width:$screenTabletPortrait) {
    margin-bottom: 50px !important;
  }
  .mentorship-p {
    @media (max-width:$screenTabletPortrait) {
      padding-top: 10px !important;
    }
    color: $gray;
  }
}

.mentorship-top {
  p {
    color: $gray;
    line-height: 1.5;
  }
}