//== Messages
//

.esquire-message-container {
  .esquire-message {
    margin: 150px 0 80px;
    @media (max-width:$screenTabletLandscape) {
      margin: 0 0 50px;
    }
    h3 {
      font-weight: 400;
    }
  }
}

.msg-tab-nav {
  &.nav.nav-pills > li > a {
    @extend %font-12px;
  }
}

.msgTable {
  .vwall {
    & + div[data-tt-widget-widget="contentList"] {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .no_content_message {
    margin-top: 30px;
  }
  .wrappager {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    margin: 0 -20px;
  }
}

.user-profile-container {
  .esquire-color-container {
    display: none;
  }
}

.direct-msg-table {
  width: 100%;
  @media (max-width:760px) {
    width: calc(100% + 20px);
    margin: 20px -20px 0;
  }
  tr {
    td, th {
      width: 20%;
      border-bottom: 1px solid $light-blue;
      padding: 20px;
      @media (max-width:760px) {
        padding: 20px 10px;
      }
    }
    th {
      font-family: $font-family-opensans;
      @extend %font-12px;
      color: $gray;
      text-transform: uppercase;
      font-weight: 400;
    }
    td {
      position: relative;
      .go-to {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      @extend %font-14px;
      .timestamp {
        @extend %font-14px;
      }
      position: relative;
      .mobile-date {
        &.timestamp {
          @extend %font-11px;
        }
      }
      .mobile-heading-msg {
        @media (max-width:760px) {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }
      .user-name {
        color: $blue;
      }
      .fa {
        &::before {
          color: $blue;
        }
      }
      .msg-txt {
        @media (min-width:761px) {
          min-width: 90px;
        }
      }
      p {
        @media (max-width:760px) {
          margin-bottom: 5px;
          font-weight: 600;
          padding-right: 15px;
          & + p {
            font-weight: 400;
            margin-bottom: 0;
            max-height: 35px;
            overflow: hidden;
          }
        }
      }
      .arrow-xs {
        position: absolute;
        bottom: 20px;
        right: 5px;

      }
      .blue-dot {
        position: absolute;
        top: 25px;
        left: -10px;
        width: 8px;
        height: 8px;
        display: block;
        background-color: $blue;
        border-radius: 50%;
      }
    }
  }

}

.tab-pane.tab-pane--sent {
  .direct-msg-table {
    tr {
      td, th {
        &:nth-child(1) {
          display: none;
        }
      }
    }
  }
}

.tab-pane.tab-pane--received {
  .direct-msg-table {
    tr {
      td, th {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

.tab-pane.tab-pane--sent, .tab-pane.tab-pane--received {
  #filter {
    .filter-free-search-container {
      position: relative;
      top: -25px;
      right: -15px;
      .remove-filter-free-search::before {
        font-size: 16px;
      }
      input {
        //bottom: 15px;
      }
      .remove-filter-free-search {
        font-size: 22px !important;
        bottom: 1px;
      }
    }
    &.filters-bar .sidebar li a.free-search-icon {
      font-size: 22px !important;
    }
    position: absolute;
    top: -50px;
    right: 0;
    @media (max-width:$screenSmartphone-max) {
      top: -20px;
    }
  }
}


.content_details_msg {
  max-width: 984px;
  margin: 0 auto;
  min-height: 355px !important;
  padding: 35px;
  &.wrapwidg.ttcomponent-contentDetail {
    @media (max-width:$screenTabletLandscape) {
      padding: 40px 0;
      margin: 0 20px;
      .pl-2 {
        padding-left: 1rem !important;
      }
      .pr-2 {
        padding-right: 1rem !important;
      }
      .content_text {

      }
    }
    .content_text {
      @media (max-width:$screenSmartphone-max) {
        margin-top: 20px;
      }
    }
  }
  .thumbnail {
    margin-bottom: 20px;
    text-align: center;
    a {
      width: 100px;
      height: 100px;
      display: block;
      border-radius: 50%;
      margin: auto;
      font-size: 34px;
      line-height: 100px;
      @media (max-width:$screenSmartphone-max) {
        width: 50px;
        height: 50px;
        display: block;
        font-size: 24px;
        line-height: 50px;
      }
    }
    & + p {
      text-align: center;
      text-transform: uppercase;
    }
  }
  .content-description {
    color: #686868;
  }
}