//== Registration
//

.plugin_bacUserRegistration {
  .bootstrap4 {
    form {
      & > .row {
        & > .col-md-8 {

          @media screen and (min-width: 1201px) {
            min-width: 1024px;
            margin: auto;
          }
          @media screen and (max-width: 1200px) {
            min-width: 90vw;
            margin: auto;
          }
        }
      }
      .card-body {
        &:not(.card-body--privacy) {
          .row {
            [class^="col-"], [class*=" col-"] {
              &:not(.col-lg-12) {
                width: 32%;
                max-width: 32%;
                flex: auto;
                margin: 5px 0 20px;
                @media (max-width:$screenTabletLandscape) {
                  width: 32%;
                  max-width: 32%;
                  flex: auto;
                  margin: 5px 0 20px;
                }
                @media (max-width:$screenTabletPortrait) {
                  width: 50%;
                  max-width: 50%;
                  flex: auto;
                  margin: 5px 0 20px;
                }
                @media (max-width:$screenSmartphone-max) {
                  max-width: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}