// Sections

.section {
  position: relative;
  &.section-padding-0 {
    padding: 0 !important;
  }
  &.padding-lat--1 {
    padding: 0 30px !important;
  }
  &.padding-lat--2 {
    padding: 0 60px !important;
  }
  &.top-entry {
    &:not(.top-entry--small) {
      @include media-breakpoint-down(sm) {
        //padding-top: 200px;
      }
      &.top-network {
        @media (max-width:$screenSmartphone-max) {
          padding-top: 0;
        }
      }
    }
  }
  .filters-bar {
    padding: 20px 0 0;
    z-index: 99;
    position: relative;
    li {
      a {
        &.active {
          color: $blue !important;
          font-weight: 700;
        }
      }
    }
    .ancor-panel {
      &:not(.collapsed) {
        span {
          &::before {
            content: "\e904";
            color: $blue;
          }
        }
      }
    }
    .collapse, .collapsing {
      .filters-panel {
        border-top: 1px solid $light-gray;
        margin-top: 10px;
        padding: 20px 10px 30px;
        form {
          .lf-wrap {
          }
        }
        .d-flex {
          @include media-breakpoint-down(md) {
            flex-wrap: wrap;
          }
        }
        .f-col {
          margin-right: 5%;
          @include media-breakpoint-down(md) {
            flex-shrink: 1;
            min-width: 40%;
          }
          @include media-breakpoint-down(sm) {
            width: 100%;
            margin: 20px 0;
          }
          input[type="text"] {
            width: 100%;
            margin: 15px 0;
          }
          .formDateGroup {
            .date {
              input {
                max-width: 130px;
                width: auto;
              }
              & + .date {
                margin-left: 5px;
              }
            }
          }
        }
        .panel {
          min-width: 160px;
          border-bottom: 1px solid $light-gray;
          &.panel-flex {
            min-width: 300px;
            padding-top: 10px;
            min-height: 285px;
            max-height: 285px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .lf-wrap {
              margin: 9px 30px 8px 0;
            }
          }
        }
        .scroll-panel {
          max-height: 230px;
          overflow: scroll;
          border-right: 1px solid $light-gray;
        }
      }
    }
  }
  &.section-nested {
    &.vertical-label {
      h2.widget_title {
        top: 287px;
        bottom: 100%;
        left: -245px;
        @media screen and (max-width: 1200px) {
          margin-top: 2rem;
        }
      }
    }
  }
  &.vertical-label {
    h2.widget_title {
      position: absolute;
      color: $blue;
      transform: rotate(-90deg);
      font-family: $font-family-roboto;
      @extend %font-56px;
      top: 200px;
      bottom: 100%;
      left: -245px;
      z-index: 15;
      width: 405px;
      height: auto;
      text-align: right;
      display: block;
      padding-right: 1rem;
      @media (max-width:$screenSmartphone-max) {
        min-height: 40px;
      }

      @media screen and (max-width: 1200px) {
        transform: none;
        position: static;
        width: auto;
        height: auto;
        text-align: left;
        margin-bottom: 5px;
      }
      @media screen and (max-width: 1300px) {
        font-size: prem(37px);
      }
      @media screen and (max-width: 800px) {
        font-size: prem(34px);
      }
      @media screen and (max-width: 400px) {
        font-size: prem(32px);
      }
    }
  }
  &.section-title {
    h2.widget_title {
      color: $blue;
      font-family: $font-family-roboto;
      @extend %font-42px;
      z-index: 9;
      display: block;
      margin-bottom: 5px;
    }
    &.section-title--small {
      h2.widget_title {
        @extend %font-24px;
        min-height: 0;
        margin-bottom: 20px;
      }
    }
  }
  .slick-wrapper {
    z-index: 2;
    position: relative;
  }
  .external-news-wrap {
    .card--news {
      max-width: 730px;
      & > div {
        p {
          margin: 3px 0;
        }
      }
      .news-img {
        flex-shrink: 0;
        width: 220px;
        height: 190px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .intestazione {
    padding: 50px;
    .row.d-flex {
      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
        text-align: center;
      }
    }
  }
}

html body .section.vertical-label .column_generico .section {
  &.vertical-label {
    h2.widget_title {
      position: absolute;
      color: $blue;
      transform: rotate(-90deg);
      font-family: $font-family-roboto;
      @extend %font-56px;
      top: 200px;
      bottom: 100%;
      left: -245px;
      z-index: 15;
      width: 405px;
      height: auto;
      text-align: right;
      display: block;
      padding-right: 1rem;
      @media (max-width:$screenSmartphone-max) {
        min-height: 40px;
      }

      @media screen and (max-width: 1200px) {
        transform: none;
        position: static;
        width: auto;
        height: auto;
        text-align: left;
        margin-bottom: 5px;
      }
      @media screen and (max-width: 1300px) {
        font-size: prem(37px);
      }
      @media screen and (max-width: 800px) {
        font-size: prem(34px);
      }
      @media screen and (max-width: 400px) {
        font-size: prem(32px);
      }
    }
  }
}
html body.bacChapter .section.vertical-label .column_generico .section.vertical-label.section-event-detail-mediagallery h2.widget_title {
  left: -210px;
  top: 165px;
}

html body.bacTopic .section.vertical-label .column_generico .section.vertical-label.section-event-detail-mediagallery h2.widget_title {
  left: -215px;
  top: 165px;
}

.section--events {
  position: relative;
  z-index: 9;
  h2 {
    @extend %font-48px;
    //margin-left: 15px;
  }

  .slick-wrapper {
    margin-top: 15px;

    .slick-list {
      overflow: visible;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: $white;
        z-index: 2;
      }
    }
  }
}
.section--news {
  &::before {
    content: "";
    position: absolute;
    right: -35%;
    bottom: 0;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: url("../img/sede.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: .3;
    z-index: 1;

  }
}


.cardsnav {
  padding: 20px 0 50px;
  position: relative;
  z-index: 9;
  .slick-dots {
    padding: 0;
    display: flex;
    align-items: center;
    li {
      padding: 0 10px;
      a {
        cursor: pointer;
        @extend %font-16px;
        color: $gray;
      }
      &.slick-active {
        a {
          color: $blue;
          @extend %font-22px;
        }
      }
    }
  }
  .slick-arrow {
    background: $blue;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 6px 0;
    text-align: center;
    color: $white;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
    &.slick-disabled {
      opacity: .3;
      &:hover {
        opacity: .3;
      }
    }
    & + .slick-arrow {
      margin-left: 8px;
    }
  }
}

.sezione-eventi {
  .section--events {
    padding: 20px 50px;
    background: $white;
    @media screen and (max-width: 1200px) {
      padding: 20px 20px;
    }
    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
    .slick-wrapper .slick-list {
      overflow: hidden;
    }
  }
  .top-entry .scheda > [class^="col-"] {
    &:first-child {
      position: absolute;
    }
    &:last-child {
      z-index: 3;
      top: 105px;
    }
  }
}

.section.top-network, .section.user-profile-container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 1160px;
    text-align: center;
    @media screen and (max-width: 1400px) {
      height: 1060px;
    }
    @media screen and (max-width: 1200px) {
      height: 960px;
    }
    @include media-breakpoint-down(md) {
      height: 760px;
    }
    @include media-breakpoint-down(sm) {
      height: 460px;
      width: 150vw;
    }
    background-color: $light-blue;
    border-radius: 50%;
  }
  h2 {
    color: $blue;
    //position: relative;
    text-align: center;
    width: 100%;
    max-width: 100%;
    @extend %font-48px;
    margin: 100px auto 50px;
    @media (max-width:$screenTabletPortrait) {
      svg {
        max-width: 90%;
      }
    }
  }
}

.section--yearbook {
  .contents_wrapper {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    .template-teamMember {
      width: calc(25% - 30px);
      margin: 15px 15px;
      background-color: $light-blue;
      padding: 20px;
      flex-shrink: 0;
      text-align: center;
      @extend %font-15px;
      h2 {
        display: none;
      }
      .teamMember_firstNameAndLastName {
        @extend %font-22px;
        color: $blue;
      }
    }
  }
  &.padding-section {
    padding: 20px 50px !important;
    background: $white;
    &.padding-top-xl {
      padding-top: 50px !important;
    }
    @media screen and (max-width: 1200px) {
      padding: 20px 20px;
    }
    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
  }
}

.section--events.padding-section {
  padding: 20px 50px !important;
  background: $white;
  &.padding-top-xl {
    padding-top: 50px !important;
  }
  @media screen and (max-width: 1200px) {
    padding: 20px 20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
  .slick-wrapper .slick-list {
    overflow: hidden;
  }
  /*
 */
}

.section.section--contacts {
  @media (max-width:$screenTabletLandscape) {
    padding: 15px;
    .section.section-title.top-contacts-tabber {
      padding: 0 30px;
    }
  }
  @media (max-width:$screenSmartphone-max) {
    .section.section-title.top-contacts-tabber {
      padding: 0 15px;
    }
    padding-bottom: 30px !important;
  }
  .tab-content.transparent-widget .tab-pane .tab-pane {
    @media (max-width:$screenSmartphone-max) {
      margin: 0 15px 0 30px;
    }
  }
}

.section--events {
  &.card-list {
    .contents_wrapper {
      &.slick-container {
        .template-custom {
          //min-width: 420px;
          @media screen and (max-width: 1600px) {
            //min-width: 0;
          }
        }
      }
      &:not(.slick-container) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        overflow: visible;
        .template-custom {
          width: 25%;
          flex-shrink: 0;
          @media screen and (max-width: 1600px) {
            width: 33.2%;
          }
          @include media-breakpoint-down(md) {
            width: 50%;
          }
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
          .card {
            padding: 0 0 20px;
            margin: 0 15px;
          }
        }
      }
    }
  }
}

.p-centered {
  ul.pager {
    margin: 0 auto;
  }
}

.padding-xl-t-r {
  .section.section-title {
    padding: 50px 50px 0;
  }
}

.top-entry.insection {
  .scheda > [class^="col-"] {
    &:first-child {
      position: absolute;
    }

    &:last-child {
      z-index: 3;
      top: 105px;
    }
  }
}

.bootstrap-datetimepicker-widget table {
  border: 1px solid $light-gray;
  thead tr th {
    &.prev {
      span {
        font-family: 'icomoon';
        &::before {
          content: "\e903";
        }
      }
    }
    &.next {
      span {
        font-family: 'icomoon';
        &::before {
          content: "\e902";
        }
      }
    }
  }
}

.sezione-community {
  .top-entry .scheda > [class^="col-"] {
    &:first-child {
      position: absolute;
    }
    &:last-child {
      z-index: 3;
      top: 105px;
    }
  }
}
.section--topics-community {
  .topics-list {
    flex-wrap: wrap;
    align-items: baseline;
    .el {
      flex: 1 0 calc(20%);
      text-align: center;
      margin: 50px 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.isMobile {
 .card-list {
   .card {
     .showZoom {
       display: block;
     }
   }
 }
}

.section--map-community {
  margin: 0 -15px;
  margin-right: -1000px !important;
  .intestazione {
    padding-right: 1000px !important;
  }
  @include media-breakpoint-down(sm) {
    z-index: 999;
  }
}

.section--leader {
  .img-bg {
    height: 535px;
    @include media-breakpoint-down(md) {
      height: 435px;
    }
    @include media-breakpoint-down(sm) {
      height: 335px;
    }
  }
}

.section.three-dots-section {
  .contents_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    align-items: flex-end;
    & > div {
      width: calc(33% - 30px);
      margin: 0 15px 0;
      align-self: stretch;
      @media screen and (max-width: 1300px) {
        width: calc(50% - 30px);
      }
      @media (max-width:$screenTabletLandscape) {
        width: calc(50% - 30px);
      }
      @media (max-width:$screenSmartphone-max) {
        width: 100%;
      }
      .single_content {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .top-title {
        align-items: center;
        margin-bottom: 50px;
        h2 {
          @extend %font-32px;
        }

        .thumb {
          width: 170px;
          height: 170px;
          flex-shrink: 0;
          padding: 0;
          @media screen and (max-width: 1450px) {
            width: 100px;
            height: 100px;
          }
          @media (max-width:$screenTabletPortrait) {
            width: 100px;
            height: 100px;
          }
          @media (max-width:$screenSmartphone-max) {
            width: 170px;
            height: 170px;
          }
          a, span {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
            max-height: none !important;
            @media screen and (max-width: 1450px) {
              min-height: 0 !important;
            }
          }
        }
      }
      .text_content {
        margin-bottom: auto;
        p {
          @extend %font-18px;
        }
      }
      .bottom-bar {
        margin-bottom: 60px;
        .btn {

        }
      }
    }
  }
  &.two-elem {
    .contents_wrapper {
      & > div {
        width: calc(50% - 30px);
        @media (max-width:$screenSmartphone-max) {
          width: 100%;
        }
      }
    }
  }
}

.section.section--mba {
  background-color: $white !important;
  .img-bg {
    background-size: contain !important;
    height: 400px;
    background-color: $white !important;
  }
}

.section.section-giving {
  &.section.section-title {
    h2.widget_title {
      @media (max-width:$screenTabletLandscape) {
        margin: 0 30px;
        max-width: 90%;
      }
    }
  }
  .contents_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 - 15px;
    @media (max-width:$screenTabletLandscape) {
      margin: 0 15px;
    }
    & > div {
      width: calc(50% - 30px);
      margin: 30px 15px;
      @media (max-width:$screenSmartphone-max) {
        width: 100%;
      }
      .news-wrapper {
        height: 370px;
        display: flex;
        align-items: flex-end;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgb(0,70,173);
          background: -moz-linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
          background: -webkit-linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
          background: linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0046ad",endColorstr="#0046ad",GradientType=1);
          opacity: 1;
        }
        .link-layer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
        }
        .news {
          padding: 25px;
          color: $white;
          z-index: 2;
          .text {
            .d-flex {
              align-items: flex-end;
              .news-description {
                margin-bottom: 0;
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.topics-list {
  .topicsList {
    .mb-3 {
      display: flex;
      flex-wrap: wrap;
      @media (max-width:$screenSmartphone-max) {
        align-items: center;
      }
      & > div {
        width: 35%;
        @media (max-width:$screenTabletPortrait) {
          width: 33.3%;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 100%;
          margin: 0 30px;
          &:first-child {
            padding: 0 !important;
          }
        }
        &.topics-wrapper {
          width: 55%;
          padding: 0;
          align-items: flex-end;
          @media (max-width:$screenTabletLandscape) {
            width: 55%;
            padding: 0;
            margin-left: 0;
            justify-content: normal;
            padding-top: 0 !important;
            @media (max-width:$screenTabletPortrait) {
              width: 60%;
            }
          }
          @media (max-width:$screenSmartphone-max) {
            width: 100%;
            margin: 0 30px;
          }
        }
        &.card-block {
          width: 25%;
          @media (max-width:$screenTabletPortrait) {
            width: 33.3%;
          }
          @media (max-width:$screenSmartphone-max) {
            width: 50%;
            margin: 20px 0 20px;
            padding: 0 !important;
          }
        }
      }
    }
  }
}

#TopicsList {
  #TopicsList_body {
    @media (max-width:$screenTabletPortrait) {
      margin-top: 50px;
    }
  }
}

html body .topicsList.elm-rounded:before {
  @media (max-width: $screenTabletPortrait) {
    width: 200%;
    height: 169%;
    padding-bottom: 90%;
    top: 30px;
    z-index: -1;
    left: -90%;
    right: auto;
  }
}

.section {
  .no_content_message {
    & + .slick-wrappager.wrappager {
      display: none;
    }
  }
}