//== UI
//

a {
  &[onclick] {
    &:hover {
      cursor: pointer;
    }
  }
}

.bg-transp {
  background-color: transparent !important;
}

#sponsor-benefit-tab {
  padding-top: 30px;
  &.nav.nav-tabs {
    .nav-item {
      a {
        padding-bottom: 30px;
        @extend %font-18px;
      }
    }
  }
}

.nav.nav-tabs {
  display: flex;
  .nav-item {
    min-width: 220px;
    @include media-breakpoint-down(sm) {
      min-width: 100px;
    }
    a {
      color: $gray;
      border: 0;
      text-align: center;
      &:hover, &:focus {
        background: transparent;
        color: $blue;
        border: 0;
      }
    }
    &.active {
      border: 0;
      a {
        color: $blue;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $blue;
        }
      }
    }
  }
}

.tab-content {
  .tab-pane.active {
    padding: 15px 0;
    ul.d-flex {
      flex-wrap: wrap;
    }
    li.bw {
      margin: 10px;
      text-align: center;
      @include media-breakpoint-down(md) {
        flex: 0 25%;
      }
      @include media-breakpoint-down(sm) {
        flex: 0 50%;
        margin: 20px 0;
      }
      @media (min-width: 1200px) {
        margin: 10px 30px;
      }
      a {
        img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: .8;
          max-width: 160px;
        }
        &:hover {
          opacity: 1;
          img {
            -webkit-filter: none;
            filter:  none;
            opacity: 1;
          }
        }
      }
    }
  }
  .tab-pane {

  }
}

.icon {
  &.iconblue {
    border-radius: 50%;
    background-color: $blue;
    padding: 6px;
    width: 24px;
    height: 24px;
    display: inline-block;
    color: $white;
    font-size: 13px;
  }
}

.advanced-filter-date {
  .date-wrapper {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    span.icon {
      position: absolute;
      top: 4px;
      right: 5px;
    }
  }
}


.filters-bar {
  .sidebar {
    margin-bottom: 20px;
    & > div.d-flex {
      @media (max-width:$screenSmartphone-max) {
        display: block;
        ul {
          & + ul {
            text-align: right;
            margin-top: 15px;
          }
          li {

          }
        }
      }
    }
    li {
      a {
        cursor: pointer;
        &.filter-advanced-filter {
          span {
            font-size: 32px;
          }
        }
        &.free-search-icon {
          font-size: 30px !important;
          margin-right: 5px;
        }
      }
    }
  }
}

.filter-free-search-container {
  margin-right: 15px;
  height: 22px;
  position: relative;
  input {
    border-bottom: 1px solid $blue !important;
    min-width: 22vw;
    line-height: 35px;
    position: absolute;
    right: 0;
    bottom: -15px;
    font-size: 15px;
    height: 45px;
    &::-ms-clear {
      display: none;
    }
    &::placeholder {
      font-size: 15px;
    }
  }
  .remove-filter-free-search {
    font-family: 'icomoon' !important;
    position: absolute;
    right: 10px;
    bottom: 2px;
    &::before {
      color: $blue;
      content: "\e904";
      font-size: 20px;
    }
  }
}

.reset-date-filter.fa-backspace {
  font-family: 'icomoon' !important;
  font-size: 10px;
  &::before {
    color: $blue;
    content: "\ea29";
  }
}

.applied-advanced-filters {
  margin-bottom: 20px;
  button {
    background: transparent;
    border: 1px solid $blue;
    color: $blue;
    border-radius: 20px;
    padding: 3px 10px;
    @extend %font-14px;
    margin-top: 5px;

  }
  & > div {
    & > div {
      display: block;
      position: relative;
      padding-left: 24px;
      margin: 10px 0;
      cursor: pointer;
      font-size: prem(10px);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $black;
      font-weight: normal;
      line-height: 16px;
      text-transform: uppercase;
      input {
        position: absolute;
        //opacity: 0;
        cursor: pointer;
        left: 0;
        top: -3px;
        -webkit-appearance: none;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: $white;
          border: 1px solid $light-ciano;
        }
        &:checked {
          &::after {
            background-color: $blue;
          }
        }
      }
      input:checked ~ .checkmark:after {
        display: block;
      }

      &.lf-wrap--check {
        input {
          height: 0;
          width: 0;
        }
      }
    }
  }
}

.advanced-filter-chapter-list, .advanced-filter-format-list, .advanced-filter-topic-list, .advanced-filter-type-list {
  & + div {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    top: -3px;
    input {
      position: absolute;
      //opacity: 0;
      cursor: pointer;
      left: 0;
      top: 0;
      margin: 0;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: $white;
        border: 1px solid $light-ciano;
      }
      &:checked {
        &::after {
          background-color: $blue;
        }
      }
    }
    input:checked ~ .checkmark:after {
      display: block;
    }

    &.lf-wrap--check {
      input {
        height: 0;
        width: 0;
      }
    }
    span {
      position: relative;
      top: -4px;
    }
  }
}

.dropdown-advanced-filter {
  padding-top: 20px;
  display: flex;
  border-top: 1px solid rgba(15, 15, 15, 0.25);
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background: $white;
  position: relative;
  z-index: 10;
  & > div {
    margin-right: 70px;
    margin-bottom: 60px;
    @media screen and (max-width: 1200px) {
      margin-right: 40px;
    }
    @media screen and (max-width: 1100px) {
      margin-right: 20px;
    }
    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &:first-child {
      &.advanced-filter-date {
        @media screen and (max-width: 1480px) {
          width: 100%;
        }
      }
    }
    & > b {
      display: block;
      & + input {
        margin: 10px 0;
        & + div {
          overflow-x: hidden !important;
        }
      }
    }
    &:last-child, &:not([class^="advanced-"]) {
      margin-right: 0;
      margin-left: auto;
      margin-top: auto;
      button {
        &:not(.btn--onlytext) {
          background: transparent;
          border: 1px solid $gray;
          color: $gray;
          border-radius: 20px;
        }
        padding: 3px 10px;
        @extend %font-14px;
        text-transform: uppercase;
      }
    }
  }
  .advanced-filter-selectAll {
    & + span {
      font-size: prem(10px);
      text-transform: uppercase;
    }
  }
  label {
    display: block;
    position: relative;
    padding-left: 24px;
    margin: 16px 0;
    cursor: pointer;
    font-size: prem(10px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $black;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
    &:first-child {
      margin-top: 5px;
    }

    input {
      position: absolute;
      //opacity: 0;
      cursor: pointer;
      left: 0;
      top: -3px;
      -webkit-appearance:none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: $white;
        border: 1px solid $light-ciano;
      }
      &:checked {
        &::after {
          background-color: $blue;
        }
      }
      &.date {
        font-family: $font-family-opensans;
      }
    }




    input:checked ~ .checkmark:after {
      display: block;
    }

    &.lf-wrap--check {
      input {
        height: 0;
        width: 0;
      }
    }
  }
}

.nav.nav-pills {
  &>li {
    margin: 10px 10px 0 0px;
  }
  &>li>a {
    background-color: #EEF2F8;
    border-radius: 20px;
    padding: 4px 13px 6px;
    @extend %font-10px;
  }
  &>li.active>a, &>li.active>a:hover, &>li.active>a:focus {
    background-color: $blue;
  }
}

.tab-content.transparent-widget {
  .tab-pane {
    background-color: transparent;
    min-height: 400px;
    margin: 0;
    padding: 30px 0 0;
    .tab-pane {
      min-height: 200px;
    }
    &#incomingRequests, &#sentRequests {
      margin: 0 -15px;
    }
    h5 {
      display: none;
    }
    .nav.nav-pills.nav-pills--nobg {
      position: absolute;
      top: 15px;
      &:not(#mynetwork-request-tab) {
        @media (max-width:$screenTabletPortrait) {
          margin: 0 25px;
        }
      }
      & > li.active > a, & > li.active > a:hover, & > li.active > a:focus {
        color: $blue !important;
        font-weight: 700;
      }
      & > li > a {
        background-color: transparent;
        padding: 0;
        margin-right: 10px;
        color: $gray;
        span {
          padding-left: 10px;
        }
        .section-title {
          span {
            padding-left: 10px;
          }
        }
      }
    }
    .no_content_message {
      background-color: transparent;
      min-height: 150px;
    }
  }
}

#mynetwork-tabs {
  .widget_title {
    display: none;
  }

  .wrappager {
    .pager {
      margin: 30px auto 0;
      float: none;
      justify-content: center;
    }
  }
}

.contacts-list {
  @media (max-width:$screenTabletLandscape) {
    flex-wrap: wrap;
    margin: 0 10px 0 25px;
    @media (max-width:$screenTabletPortrait) {
      margin-right: 10px;
    }
    @media (max-width:$screenSmartphone-max) {
      margin: 0 10px;
    }
  }
  .user-contact-pane {
    display: flex;
    background-color: $white;
    margin: 0 15px;
    padding: 20px;
    min-height: 160px;
    width: calc(25% - 30px);
    position: relative;
    @media screen and (max-width: 1280px) {
      width: calc(25% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenTabletLandscape) {
      width: calc(50% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenSmartphone-max) {
      width: 100%;
      margin: 15px 0;
      background-image: url("../img/bg-circles.png");
    }
    .img--avatar {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      max-width: none;
      flex-shrink: 0;
      text-align: center;
      @media (max-width:1280px) {
        margin-bottom: 10px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
          img {
            cursor: pointer;
          }
        }
      }
      .initials {
        display: inline-block;
        background-color: $blue;
        color: $white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        @extend %font-24px;
        line-height: 60px;
      }
    }
    .user-name {
      display: block;
      color: rgba(0, 70, 173, .8) !important;
    }
    .degree {
      display: inline;
      &.degree-name {
        & + .degree-date {
          margin-left: 5px;
          padding-left: 5px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 9px;
            left: -4px;
            width: 5px;
            height: 1px;
            background-color: $gray;
          }
        }
      }
      &.degree-date {

      }
    }
    .btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      @extend %font-10px;
    }
    .dateTime {
      position: absolute;
      bottom: 20px;
      left: 15px;
      span {
        font-size: 11px !important;
      }
    }
    .bottom-actions {
      position: absolute;
      bottom: 15px;
      right: 15px;
      a {
        font-size: 14px;
        position: relative;
        top: -3px;
        &[data-tt-widget-trigger="accept"] {
          font-size: 22px;
        }
        & + a {
          margin-left: 10px;
          top: 0;
        }
      }
    }
  }
}

.top-contacts-tabber {
  .nav.nav-pills > li > a {
    background-color: $white;
  }
  .nav.nav-pills > li.active > a, .nav.nav-pills > li.active > a:hover, .nav.nav-pills > li.active > a:focus {
    background-color: $blue;
  }
}

.icon-bookmark {
  &::before {
    content: "\ea23" !important;
  }
}

.remove-filter-free-search {
  font-family: 'icomoon' !important;
  &::before {
    content: "\ea29" !important;
    color: #0046ad;
  }
}

.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $blue;
  color: $white;
  font-size: 9px;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0;
}

.d-flex {
  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.pag-centered {
  .wrappager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .pager {

    }
  }
}

.section-no-border {
  border: 0 !important;

}



.v--modal-overlay {
  background-color: rgba($blue,.8) !important;
  .v--modal-box.v--modal.vue-dialog {
    padding: 30px;
    .dialog-content {
      .dialog-c-title {
        color: $blue;
        font-family: $font-family-roboto;
        @extend %font-24px;
      }
    }
    .vue-dialog-buttons {
      button {
        font-family: $font-family-opensans;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid $black;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        background: $blue;
        border-color: $blue;
        color: $white !important;
        box-shadow: 0 4px 8px 0 rgba($blue, 0.2);
        margin: 20px auto 0;
        flex: 0 0 25% !important;
        height: auto;
        &:hover {
          color: $white !important;
          background: $blue-hover !important;
          opacity: 1;
        }
      }
    }
  }
}

.social-links {
  .socialTopicChapetrsIcons {
    .spacer.circle {
      padding-top: 0;
      a {
        height: 40px;
        line-height: 40px;
        width: 40px;
        span {
          width: 38px;
          height: 38px;
          padding: 12px;
        }
      }
    }
  }
}

.chapter-topic-detail {
  .scheda {
    svg {
      margin: 0 !important;
      width: 150px !important;
    }
  }
}


.modal.location-modal {
  z-index: 10000;
  &.circle-right {
    .modal-dialog {
      @media screen and (min-width: 1400px) {
        width: 1100px;
      }
    }
    .modal-content {
      position: relative;
      overflow: hidden;
      padding: 50px 30px;
      min-height: 600px;
      &::before {
        position: absolute;
        content: "";
        top: -10%;
        right: -10%;
        width: 55%;
        height: 120%;
        background: $light-blue url("../img/modal-bg.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
      }
      .modal-header {
        border: 0;
        padding-right: 50%;
        .modal-title {
          color: $blue;
          @extend %font-40px;
          font-weight: 600;
          font-family: $font-family-roboto;
        }
        .close {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 34px;
          color: $blue;
          font-weight: 400;
        }
      }
      .modal-body {
        padding-right: 50%;
        color: $gray;
        font-size: 16px;
        .btn {
          margin-top: 30px;
        }
      }
    }
  }
}

.modal {
  //z-index: 10050 !important;
}

.modal-backdrop.in {
  //z-index: 9999;
}

.search-results-list {
  .contents_wrapper {
    & > div {
      margin: 15px 0;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba($blue, .3);
      &:last-child {
        border: 0;
      }
      .media-body {
        .created_by {
          @extend %font-14px;
        }
        .timestamp {
          @extend %font-11px;
        }
        .description {
          color: $gray;
          @extend %font-16px;
          p {
            color: $gray;
            @extend %font-16px;
          }
          .summary {

          }
        }
      }
    }
  }
}

.search {
  &:not(.search_open) {
    #header .wrapwidg#search_widget {
      position: absolute;
    }
  }
}

ul.pager li.prev a:before, ul.pager li.prev span:before {
  font-family: 'icomoon';
  content: "\e93b";
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}
ul.pager li.next a:before, ul.pager li.next span:before {
  font-family: 'icomoon';
  content: "\e93c";
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}

.section-contentslist {
  @media (max-width: 767px) {
    .filters-bar .sidebar > div.d-flex {
      display: flex;
    }
  }
}

#disservizioBox {
  &.alert.alert-warning {
    background-color: $blue;
    color: $light-blue;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: 0;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 3px 0px #0000001f;
    border-radius: 0;
    padding: 0;
    p {
      margin: 0;
      font-weight: 600;
    }
    span {
      padding: 1rem;
      display: block;
    }
  }
}



.ttcomponent-listCards .card-block>div {
  &:first-child {
    //margin-bottom: 75% !important;
  }
}

.icon-dress-code, .icon-contact-info {
  &.gray {
    &::before {
      color: $gray;
    }
  }
}

.ck-tmp-wrapper[data-type="cke-for-me-page"] {
  .t-18 {
    @media (max-width:$screenSmartphone-max) {
      font-size: prem(22px);
      margin-bottom: 5px !important;
    }
  }
}

div[data-tt-widget-widget="userWizard"] {
  .modal-body {
    div[data-tt-widget-component="userWizardContents"] {
      height: 100%;
      .wizard-slide .slide-description {
        margin-bottom: 13px;
        @media (max-width:$screenTabletPortrait) {
          margin-bottom: 15px;
        }
      }
      &:first-of-type {
        .wizard-slide .slide-description {
          margin-bottom: auto;
        }
      }
      .wizard-slide {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .modal-dialog {
    @media screen and (min-width: 1024px) {
      width: 980px !important;
    }
    @media (max-width:$screenTabletPortrait) {
      width: 700px;
    }
    @media (max-width:$screenSmartphone-max) {
      width: 90vw;
    }
  }
  .modal-content {
    height: 650px;
    @media (max-width:$screenSmartphone-max) {
      height: 83vh;
    }
  }
  .modal-header {
    height: 60px;
    .close {
      opacity: 1;
      top: 35px;
      right: 35px;
      span {
        position: relative;
        font-family: $font-family-opensans;
        font-weight: 200;
        font-size: 34px;
        color: $blue;
        &::before {
          position: absolute;
          top: 8px;
          left: -40px;
          font-family: $font-family-opensans;
          font-weight: 200;
          font-size: 16px;
          color: $blue;
        }
      }
    }
  }
  .modal-body {
    padding-bottom: 0;
    height: calc(100% - 60px);
    .wizard-nav {
      bottom: -75px;
      left: auto;
      right: 0;
      text-align: right;
      .btn.btn-default {
        border-radius: 50%;
        width: 38px;
        height: 38px;
        line-height: 38px;
        padding: 0 0 0 4px;
        background-color: $white;
        color: $blue;
        font-size: 20px;
        &[data-tt-widget-trigger="prev"] {
          background-color: #D2D9EB;
          padding: 0 4px 0 0;
        }
      }
    }
  }
}

#mainwrap[data-tt-language="default_lang_en_US"] {
  div[data-tt-widget-widget="userWizard"] {
    .modal-header {
      .close {
        span {
          &::before {
            content: "Skip";
          }
        }
      }
    }
  }
}

#mainwrap[data-tt-language="default_lang_it_IT"] {
  div[data-tt-widget-widget="userWizard"] {
    .modal-header {
      .close {
        span {
          &::before {
            content: "Salta";
          }
        }
      }
    }
  }
}

.wizard-slide {
  .slide-title {
    width: 100%;
    margin-top: 0;
    p {
      margin-bottom: 0;
    }
  }
  .slide-description {
    p {
      font-family: $font-family-opensans;
      @extend %font-16px;
      color: $gray;
      font-weight: 400;
      strong {
        color: $blue;
        @extend %font-22px;
        margin: 5px auto 20px;
        font-weight: 400;
        display: inline-block;
      }
    }
  }
  .slide-cover {
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width:$screenSmartphone-max) {
      margin-top: 25px;
    }
    img {
      @media (max-width:$screenTabletPortrait) {
        max-height: 273px;
      }
      @media (max-width:$screenSmartphone-max) {
        max-height: 90px;
      }
    }
  }
  .wrappager {
    position: absolute;
    bottom: 35px;
    left: 0;
    .pager {
      float: none;
      justify-content: center;
      li {
        a {
          width: 12px;
          height: 12px;
          background-color: #BFBFBF;
          border-radius: 50%;
          margin: 0 7px;
          &.on {
            background-color: $blue;
          }
        }
      }
    }
  }
}

.msg-fullpage-wrapper {
  padding-top: 10vh;
  min-height: 50vh;
  .flex-actions {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width:$screenSmartphone-max) {
      flex-direction: column;
    }
    a {
      & + a {
        margin-left: 20px;
        @media (max-width:$screenSmartphone-max) {
          margin-top: 20px;
          margin-left: 0;
        }
      }
    }
  }
}

.frontend-report {
  .widget_padding {
    & > div {
      text-align: center;
    }
  }
  .dataTables_wrapper {
    a[title="Download"] {
      background: $light-blue;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: inline-block;
      text-align: center;
      line-height: 32px;
      color: $gray;
      i.icon {
        font-size: 20px;
        position: relative;
        top: 2px;
      }
    }
  }
}

html .frontend-report table.dataTable thead [class*=sorting]:before {
  right: 5px;
}

#filtroTabella {
  .form-group {
    text-align: left;
    .col-md-6 {
      & + .col-md-6 {
        @media (max-width:$screenTabletPortrait) {
          margin-top: 20px;
        }
      }
    }
  }
}

.topicsList .el.card-block {
  .card-reveal-info {
    .e-data {
      word-break: break-all;
    }
  }
}

#benefits {
  .contents_wrapper.slick-container {
    @media (max-width:$screenTabletLandscape) {
      width: 95vw;
      margin: auto;
    }
  }
}

.ttcomponent-listCards .card .card-block {
  position: relative;
  a.link-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

[data-tt-widget-widget="bac/GroupListFulFill"] .ttcomponent-listCards .card-block {
  .following-widget {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.intestazione {
  .row-intestazione-community {
    @media (min-width:$screenTabletLandscape) {
      display: flex;
      & > div {
        h2 {
          margin-top: 0;
        }

      }
    }
    & > div {
      @media (min-width:1000px) and (max-width:1100px) {
        position: relative;
        right: 50px;
      }
    }
  }
}


.card-block.card-block-link {
  @media (max-width:$screenTabletLandscape) {
    &:nth-child(1), &:nth-child(4n + 1) {
      &:hover .card-reveal-info {
        transform: translate(-45% , -50%);
      }
    }
    &:nth-child(4n) {
      &:hover .card-reveal-info {
        transform: translate(-65%, -50%);
      }
    }
  }
  @media (max-width:$screenTabletPortrait) {
    &:nth-child(3n) {
      &:hover .card-reveal-info {
        transform: translate(-65%, -50%);
      }
    }
    &:nth-child(3n + 1) {
      &:hover .card-reveal-info {
        transform: translate(-35% , -50%);
      }
    }
    &:nth-child(4n), &:nth-child(4n + 1) {
      &:hover .card-reveal-info {
        //transform: translate(-50% , -50%);
      }
    }
  }
  @media (max-width:$screenSmartphone-max) {
    &:nth-child(1n) {
      &:hover .card-reveal-info {
        transform: translate(-50%, -50%);
      }
    }
  }
}

.ttcomponent-listCards .card-block > div.card-reveal-info {
  min-height: auto;
  .card-content-description {
    & > div {

    }
    p {
      //word-break: break-all;
      max-width: 100%;
      @media (max-width:330px) {
        max-width: 90%;
      }
    }
    .mt-2 {
      @media screen and (min-width: 1200px) and (max-width: 1450px) {
        margin-top: 0 !important;
      }
    }
  }
}

.card-block,
.el {
  & > div.card-reveal-info {
    .card-content-description {
      .btn-actions {
        .btn {
          padding: 6px 20px 4px;
          line-height: 24px;
          span.icon {
            font-size: 18px;
          }
          &.d-flex {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

.chaptercontainer {
  & > .widget_padding {
    @media (max-width:990px) {
      width: 100%;
    }
  }
  .wrapwidg:not(.container):not([class*='box-']):not([class*='col-']) {
    @media (max-width:$screenTabletLandscape) {
      margin: 0;
    }
    &.teamMember {
      @media (max-width:$screenSmartphone-max) {
        margin: 20px 10px !important;
      }
    }
    .social-links {
      margin: 0 -15px 10px !important;
      @media (max-width:$screenSmartphone-max) {
        margin: 0 0 10px !important;
      }
    }
  }
}

.plugin_bacMediaCarousel.section.section--gallery {
  &.wrapwidg {
    @media (min-width:$screenSmartphone-max) and (max-width:$screenTabletLandscape) {
      margin: 0 10px;
    }
  }
}

@media (min-width:1025px) and (max-width:1200px) {
  .bacChapter .section.vertical-label h2.widget_title {
    margin-left: 20px;
  }
  .bacChapter .section.vertical-label .wrapwidg.plugin_groupDetailsWidget {
    margin-left: 20px;
  }
}

.topicsList .el svg {
  margin: 0 auto 20px;
}

.topicsList .el.hover .card-reveal-info {
  min-width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.topicsList .topics-wrapper {
  & > div {
    &:nth-child(1), &:nth-child(3) {
      @media (min-width:$screenSmartphone-max) and (max-width:$screenTabletLandscape) {
        .el.hover .card-reveal-info {
          transform: translate(-40%, -50%);
        }
      }
    }
  }
}

.plugin_bacMediaCarousel.section.section--gallery {
  .media_gallery_container {
    .sidebar {
      .list-inline.p-absolute {
        @media (max-width:$screenTabletLandscape) {
          top: -25px;
        }
      }
    }
  }
}

.bacChapter .section--gallery.vertical-label .filters-bar {
  @media (max-width:$screenTabletLandscape) {
    padding-bottom: 0 !important;
  }
}

#header .main-header {
  .navbar-notification-container .dropdown-menu {
    @media (max-width:$screenSmartphone-max) {
      min-width: 100vw;
    }
}
  .notification_manager {
    padding: 0 10px;
  }
}


.section.nestedDepth2 .column_generico.homeColumn1 {
  @media (max-width:1010px) {
    padding-left: 0;
  }
}

.pl-0-column-0 .homeColumn1 {
  @media (max-width:1010px) {
    padding-left: 0 !important;
  }
}

.container-fluid .pl-0-column-0 .homeColumn0, .container-fluid .pl-0-column-0 .homeColumn1 {
  @media (max-width:$screenSmartphone-max) {
    padding-left: 15px !important;
  }
}

html body .center-dots .slick-dots {
  text-align: center;
}

.Bocconi_news_from_UniBocconi .seeMoreCTA {
  @media (max-width:760px) {
    position: static;
    margin-bottom: 20px;
  }
  @media (max-width:770px) {
    top: 10px;
  }
}

html body .section--gallery.vertical-label .filters-bar, html body .section-event-detail-mediagallery .filters-bar {
  @media (max-width:$screenSmartphone-max) {
    margin-top: 10px;
  }
}

.card-content-description {
  .e-data {
    & > div {
      width: 100%;
      p {
        word-break: inherit;
        text-overflow: ellipsis;
        max-width: 90%;
        overflow: hidden;
        word-break: break-word;
      }
    }
  }
  .btn {
    @media (max-width:330px) {
      margin-top: 0 !important;
    }
  }
}


.plugin_searchWidget.search-results-list {
  h2.widget_title {

  }
}
.search-list-wrapper {
  margin-top: 20px;
  @media (min-width:1440px) {
    margin-top: 40px;
  }
  @media (max-width:1030px) {
    margin-top: 40px;
  }
  @media (max-width:760px) {
    margin-top: 20px;
  }
  .single-element {
      margin: 15px 0;
      padding-top: 15px;
      border-top: 1px solid rgba($blue, .3);
      &:first-child {
        border: 0;
      }
    .description {
      color: $gray;
      @extend %font-16px;
      p {
        color: $gray;
        @extend %font-16px;
      }
      .summary {

      }
    }
  }
}

html body .transform-ty--100 {
  @media (max-width:1600px) {
    transform: translateY(-30%);
    margin-bottom: -13% !important;
  }
  @media (max-width:1350px) {
    transform: translateY(-20%);
    margin-bottom: -10% !important;
  }
  @media (max-width:1150px) {
    transform: translateY(0);
    margin-bottom: -10% !important;
  }
  @media (max-width:1024px) {
    transform: translateY(10%);
    margin-bottom: 20% !important;
  }
  @media (min-width:1100px) and (max-width:1150px) {
    transform: translateY(-10%);
  }
  @media (min-width:1025px) and (max-width:1100px) {
    margin-bottom: 0 !important;
  }
  @media (min-width:960px) and (max-width:990px) {
    transform: translateY(30%);
    margin-bottom: -15% !important;
  }
}

.blue-career-wrap {
  .contents_wrapper {
    .template-custom {
      &:nth-child(7), &:nth-child(8) {
        .card-block.card-block-link:hover .card-reveal-info {
          //top: 0;
        }
      }
    }
  }
}

html body .cerchio-blu {
  @media (max-width:960px) {
    padding-top: 60px !important;
  }
}

html body .cerchio-blu::before {
  @media (min-width:1100px) and (max-width:1199px) {
    min-width: 95vw;
    height: 90vw;
    left: -13%;
  }
  @media (max-width:990px) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.ttcomponent-listCards.group-list-cards {
  .contents_wrapper {
    .template-Bocconi_Career_Library {
      @media (max-width:1024px) {

      }
    }
  }
}

.Bocconi_Career_Library .contents_wrapper > div:last-child {
  @media (max-width:860px) {
    padding-top: 20px;
  }
  @media (max-width:768px) {
    padding-top: 0;
  }
}

.bootstrap-datetimepicker-widget table th.prev {
  //padding-left: 20px;
}

.bootstrap-datetimepicker-widget table th.next {
  //padding-right: 20px;
}

.bootstrap-datetimepicker-widget table th.prev span::before {
  font-family: 'icomoon' !important;
  content: "\ea22" !important;
  background: transparent;
  color: $white;
}

.bootstrap-datetimepicker-widget table th.next span::before {
  font-family: 'icomoon' !important;
  content: "\ea62" !important;
  background: transparent;
  color: $white;
}

.Bocconi_news_from_Social [id^=filterSocialNews] {
  @media (max-width:430px) {
    top: 40px;
  }
}

[data-tt-language="default_lang_en_US"] .Bocconi_news_from_Social [id^=filterSocialNews] {
  @media (max-width:476px) {
    top: 40px;
  }
}

.card-reveal-info {
  opacity: 0;
}

.card-block:hover .card-reveal-info, .hover .card-reveal-info {
  opacity: 1;
}

html body table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, html body table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: transparent;
  box-shadow: 0 0 0;
  content: "\ea26";
  font-family: 'icomoon';
  color: $blue;
  transform: rotate(90deg);
  top: 18px;
  border: 0;
}

html body table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, html body table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  transform: rotate(-90deg);
  background-color: transparent;
  content: "\ea26";
  left: 7px;
}

.wrapwidg.top-entry-chaptertopics-detail {
  padding-bottom: 40px;
}

.chapter-topic-detail, .chapter-topic-detail-new {
  .action-btn {
    position: relative;
    .dropdown-menu {
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
      padding: 10px 20px;
      color: $blue;
      font-weight: 600;
      @media (max-width:$screenSmartphone-max) {
        //left: auto;
        //right: 0;
        &.toRight {
          left: auto;
          right: 0;
        }
      }
    }
    .btn-action-popover {
      padding-right: 60px;
      & + .dropdown-toggle {
        position: absolute;
        right: 15px;
        top: 45%;
        @media (min-width:1550px) {
          top: 50%;
        }
        @media (max-width:$screenTabletPortrait) {
          top: 42%;
        }
        @media (max-width:$screenSmartphone-max) {
          top: 35%;
        }
        &:hover {
          span.icon-threedots {
            &::before {
              color: $blue;
              opacity: .8;
            }
          }
        }
        span.icon-threedots {
          font-size: 14px;
          transform: rotate(90deg);
          display: block;
          &::before {
            color: $blue;
          }
        }
      }
    }
  }
}
/*
.chapter-topic-detail {
  .action-btn {
    .btn, .action-btn {
      @media (max-width: $screenSmartphone-max) {
        margin-top: 20px;
      }
      .btn {
        @media (max-width: $screenSmartphone-max) {
          margin-top: 0;
        }
      }
    }
    .dropdown-menu {
      @media (max-width:$screenSmartphone-max) {
        left: 0;
        right: auto;
      }
    }

    .btn-action-popover {
      & + .dropdown-toggle {
        top: 34%;
        @media (max-width: $screenTabletPortrait) {
          top: 34%;
        }
        @media (max-width: $screenSmartphone-max) {
          top: calc(30% + 15px);
        }
      }
    }
  }
}
*/

.media_gallery_container {
  .fotorama {
    padding: 0 15px;
    @media (max-width:1200px) {
      padding: 0;
    }
  }
}

html body .fotorama--fullscreen .fotorama__nav, html body .fotorama--fullscreen .fotorama__stage {
  background-color: $blue;
}

.frontend-report {
  .frontend-report .table-hover > tbody > tr.parent td {
    white-space: nowrap;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.child {
    ul {
      text-align: left;
      margin-left: 0;
      padding-left: 0;
      width: 100%;
    }
  }
  table.dataTable tbody td:nth-child(3) {
    white-space: nowrap;
  }
}

.popover.confirmation {
  .confirmation-buttons {
    .btn-default {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      color: #fff;
      border: 1px solid #0046ad;
      box-shadow: 0 4px 8px 0 rgba(0, 70, 173, 0.2);
      &:hover {
        color: #FFFFFF !important;
        background: #336BBD !important;
      }
    }
  }
}

.content_details.content_details_editorial {
  @media screen and (max-width: 990px) {
    html body .sm-max-w-100px {
      max-width: 100px;
    }
    html body .sm-max-w-150px {
      max-width: 150px;
    }
    html body .sm-max-w-200px {
      max-width: 200px;
    }
    html body .sm-max-w-250px {
      max-width: 250px;
    }
    html body .sm-max-w-300px {
      max-width: 300px;
    }
    html body .sm-max-w-350px {
      max-width: 350px;
    }
    html body .sm-max-w-400px {
      max-width: 400px;
    }
    html body .sm-max-w-450px {
      max-width: 450px;
    }
    html body .sm-max-w-500px {
      max-width: 500px;
    }
  }
}

html body .card-block.card-block-link:hover .card-reveal-info a[href^="mailto:"]:before {
  display: none;
}

.top-entry.chapter-topic-detail-new {
  .groupName .abs {
    max-width: 100px;
  }
}

@media screen and (max-width: 700px) {
  #home-events-wrapper {
    margin-top: 50px;
  }
}

.Bocconi_Events_Caroussel_slick.section.slider-section.vertical-label {
  .widget_title + .widget_padding {
    padding-top: 0;
  }
}

.avatar-page {
  .img-child-rounded .ck-tmp-image > img.img-responsive {

  }
}

.section.nestedDepth3 .column_generico.homeColumn0 {
  padding-left: 0;
}

.media_gallery_container .filters-bar {
  display: none;
}

.bootstrap4 {
  .list-order-a {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    @media screen and (max-width: 1250px) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
    & > div.custom-control-inline {
      width: 100%;
      flex-basis: unset;
      max-width: none;
      display: inline-block;
    }
  }
}

.list-order-a {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  @media screen and (max-width: 1250px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  & > div {
    width: 100%;
    flex-basis: unset;
    max-width: none;
    display: inline-block;
  }
}